@media screen and (min-width:2100px) {
    header {
        height: 18vh;
        box-shadow: 1px 2px 6px black;
        background-color: #015524;
    }
    .logo {
        width: fit-content;
        display: flex;
        justify-content: center;
        position: relative;
        left: 20%;
        top: -1%;
        cursor: pointer;
    }

    .nav-bar {
        width: fit-content;
        display: flex;
        position: relative;
        left: 35%;
        top: -90px;
    }
}