:root {
    --branco:#ffff;
    --coral:#F37160;
    --flamingo:#F69896;
    --concreto:#A7A9AC;
    --preto:#000000;
    --vermelho:#EF4126;
    --font-padrao:'Open Sans';
  }
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans';
    background-image: url(https://images.rappi.com.br/restaurants_background/3-1692212180781.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
}
.container {
    width: fit-content;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 80%;
    transform: translate(-80%);
    top: 30%;
    background-color: white;
    box-shadow: -1px 2px 6px black;
    border-radius: 5px;
}
form {
    padding: 55px;
}
form > label {
    font-size: 20px;
}
form > input {
    width: 350px;
    padding: 15px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #86868B;
}
form > button {
    width: 80%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #016002;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 15px;
}
form > button:hover {
    transition: 0.8s;
    background-color: white;
    border: 1px solid #016002;
    color: #016002;
}
.esconder {
    --color: #a5a5b0;
    --size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    position: absolute;
    left: 80%;
    transform: translate(-80%);
    top: 62%;
}

  .esconder .eye {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  
  .esconder .eye-slash {
      position: absolute;
    animation: keyframes-fill .5s;
    display: none;
  }
  
  /* ------ On check event ------ */
  .esconder input:checked ~ .eye {
    display: none;
}

  .esconder input:checked ~ .eye-slash {
      display: block;
    }
  
  /* ------ Hide the default checkbox ------ */
  .esconder input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
        transform: scale(0);
        opacity: 0;
    }
  
    50% {
      transform: scale(1.2);
    }
}
#avisoSucesso {
  display: none;
}
#avisoErro {
  display: none;
}
.notifications-container {
  width: 320px;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  left: 90%;
  transform: translate(-90%);
  top: 60px;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.success {
  padding: 1rem;
  border-radius: 0.375rem;
  background-color: rgb(240 253 244);
  border: 1px solid rgb(22 101 52);
}

.succes-svg {
  color: rgb(74 222 128);
  width: 1.25rem;
  height: 1.25rem;
}

.success-prompt-wrap {
  margin-left: 0.75rem;
}

.success-prompt-heading {
  font-weight: bold;
  color: rgb(22 101 52);
}

.success-prompt-prompt {
  margin-top: 0.5rem;
  color: rgb(21 128 61);
}

.success-button-container {
  display: flex;
  margin-top: 0.875rem;
  margin-bottom: -0.375rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.success-button-main {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ECFDF5;
  color: rgb(22 101 52);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  border-radius: 0.375rem;
  border: none
}

.success-button-main:hover {
  background-color: #D1FAE5;
}

.success-button-secondary {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.75rem;
  background-color: #ECFDF5;
  color: #065F46;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border: none;
}
.error-alert {
  border-radius: 0.375rem;
  padding: 1rem;
  background-color: rgb(254 242 242);
  border: 1px solid #f37160;
}

.error-svg {
  color: #F87171;
  width: 1.25rem;
  height: 1.25rem;
}

.error-prompt-heading {
  color: #991B1B;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.error-prompt-container {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
}

.error-prompt-wrap {
  margin-top: 0.5rem;
  color: #B91C1C;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.error-prompt-list {
  padding-left: 1.25rem;
  margin-top: 0.25rem;
  list-style-type: disc;
}