:root {
    --dark-green: #015524;
    --light-beige: #F8F2D8;
    --medium-green: #02572D;
    --deep-green: #013D1C;
    --white: #ffffff;
    --gray: #cccccc;
    --shadow: rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-image: url(https://images.rappi.com.br/restaurants_background/3-1692212180781.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: var(--white);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px var(--shadow);
    text-align: center;
width: 350px;
transition: transform 0.3s ease-in-out;
}

.login-container:hover {
    transform: scale(1.02);
}

h2 {
    margin-bottom: 15px;
    color: var(--dark-green);
    font-size: 24px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    color: var(--deep-green);
    text-align: left;
}

input {
    width: 90%;
    padding: 12px;
margin-top: 5px;
border: 1px solid var(--gray);
border-radius: 8px;
font-size: 16px;
transition: 0.3s;
}

input:focus {
    border-color: var(--medium-green);
    outline: none;
    box-shadow: 0px 0px 5px var(--medium-green);
}

button {
    background: var(--medium-green);
    color: var(--white);
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: var(--deep-green);
    transform: scale(1.05);
}

.forgot-password {
    margin-top: 15px;
    font-size: 14px;
    color: var(--medium-green);
    cursor: pointer;
    transition: 0.3s;
}

.forgot-password:hover {
    text-decoration: underline;
}
