@media screen and (min-width: 1300px) and (max-width: 1400px) {
    header {
        height: 18vh;
        box-shadow: 1px 2px 6px black;
        background-color: #015524;
    }
    .produtos {
        position: absolute;
        top: 30%;
        flex-wrap: nowrap;
        justify-content: space-between;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }
    .cxProd > a {
        position: absolute;
        top: 89%;
        left: 65%;
        background-color: #015524;
        color: white;
        padding: 8px 18px 8px 18px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 2px;
    }
}
@media screen and (min-width: 2560px) {
    .cxProd {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        cursor: pointer;
        height: 100%;
        width: 105%;
    }
    .produtos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 72px;
        padding: 20px;
    }
    header {
        height: 18vh;
        box-shadow: 1px 2px 6px black;
        background-color: #015524;
    }
}
@media screen and (min-width:768px) and (max-width:1299px) {
    header {
        height: 18vh;
        box-shadow: 1px 2px 6px black;
        background-color: #015524;
    }
    .logo {
        width: fit-content;
        display: flex;
        justify-content: center;
        position: relative;
        left: 0%;
        top: -1%;
        cursor: pointer;
    }
    .nav-bar {
        width: fit-content;
        display: flex;
        position: relative;
        left: 20%;
        top: -90px;
    }
    footer {
        height: 400px;
        padding: 15px;
    }
}