@media screen and (min-width:320px) and (max-width:767px){
  .popup {
        display: none;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 70%;
        width: 90vw;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 13px;
    }
    header {
        z-index: 999;
        position: absolute;
        width: 99%;
        left: 0%;
    }
    .mainContentHeader {
        position: absolute;
        height: 600px;
        width: 100%;
        z-index: -1;
    }
       .messageHeader {
        position: relative;
        left: 42%;
        top: 65px;
        width: fit-content;
        transform: translate(-42%);
    }
    .messageHeader > p {
    width: fit-content;
    font-size: 18px;
    font-style: italic;
}

    li > a {
        text-decoration: none;
        color: #555555;
        padding: 5px;
        transition: 0.8s;
    }
    .linksHeader {
        width: fit-content;
        position: relative;
        left: 70%;
        top: 0;
    }
    .linksHeader > ul > li {
        padding-right: 0px;
    }
    .notCad > p {
        font-weight: 300;
        font-size: 12px;
    }
    .notCad > p > a {
        font-weight: 300;
        font-size: 12px;
        text-decoration: underline;
    }
    .icons-mediaHeader {
        display: none;
    }
    .logo-header {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 30px;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 65%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    .notCad {
        width: fit-content;
        position: relative;
        left: 30%;
        top: 50px;
    }
    .notCad > a {
        font-weight: 300;
        font-size: 12px;
    }
    .carrinho {
        width: fit-content;
        position: relative;
        left: 70%;
        top: 20px;
    }
    .linhaAbInp {display: none;}
    .linhaAbNav {display: none;}
    .menu {
        display: none;
    }
    .menu-wrapper {
        display: block;
    }
    #iconMenuMob {
        display: none;
        position: absolute;
        top: 11%;
        left: 95%;
        transform: translate(-95%);
        font-size: 28px;
    }
    .search-input {
        position: absolute;
        left: 45%;
        transform: translate(-45%);
        top: 45%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }
    div#suggestions-container {
        display: none;
        background-color: white;
        width: 70vw;
        box-shadow: -1px -1px 3px black;
        height: auto;
        z-index: 1;
        position: relative;
        top: -40px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;
        padding: 20px;
        max-height: 455px;
        overflow-y: auto;
    }
    .search-input > input {
        border: 1px solid #A8A8A8;
        background-color: transparent;
        width: 80vw;
        padding: 15px;
        border-radius: 30px;
    }
    .search-input > button {
        background-color: transparent;
        display: block;
        position: relative;
        left: 85%;
        top: -35px;
    }
    #wrapper {
        width: 220px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 110px;
    }
    #prev {
        top: 85%;
        left: -50px;
        transform: translate(50%, -50%);
    }
    #next {
        top: 85%;
        right: 19px;
        transform: translate(50%, -50%);
    }
    #nav-bar {
        display: none;
        width: 80%;
        padding: 15px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 5px;
        box-shadow: -1px -3px 20px black;
        border-radius: 5px;
        height: 715px;
        opacity: 0;
        z-index: 1000;
        background-color: white;
    }
    #nav-bar > li {
        display: block;
        padding-top: 14px;
        position: relative;
        top: 65px;
    }
    #nav-bar > li > a  {
        font-size: 28px;
    }
    #fechar-menu {
        display: none;
        cursor: pointer;
        width: fit-content;
        font-size: 40px;
        position: absolute;
        left: 72%;
    }
    #menu-icon {
        display: block;
        position: absolute;
        left: 100%;
        transform: translate(-100%);
        top: -10%;
    }
    #logo {
        display: none;
    }    
    #logo2 {
        display: block;
        position: absolute;
        left: 0%;
        transform: translate(-5%);
        top: -3px;
        width: 23%;
    }
    #icone-pesquisa {
        width: 34px;
        height: 36px;
        position: absolute;
        left: 30%;
        transform: translate(-30%);
        top: 33px;
    }
    #carrinho-compras {
        width: 44px;
        height: 46px;
        position: absolute;
        left: 33%;
        transform: translate(-120%);
        top: 6%;
    }
    #banners{display: none;}
    #progress{display: none;}
    #totalCarrinho {
        display: none;
        width: 95%;
        height: 247px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 95px;
    }
    #totalCarrinho > h1 {
        font-weight: 600;
        font-size: 30px;
        position: relative;
        left: 50%;
        width: fit-content;
        transform: translate(-50%);
        text-align: center;
    }
    #voltar {
        border: 1px solid #EF4126;
        color: #EF4126;
        background-color: white;
        box-shadow: -1px 2px 8px #000000a3;
        border-radius: 5px;
        position: absolute;
        top: 105px;
        left: 50%;
        transform: translate(-50%);
        transition: 0.8s;
        font-weight: 500;
        font-size: 13px;
    }
    .produto-carrinho {
        position: relative;
        width: 95%;
        left: 50%;
        transform: translate(-50%);
        top: 370px;
        border: none;
    }
    h2.nomeProduto {
        position: relative;
        left: 50%;
        width: fit-content;
        transform: translate(-50%);
        top: 35px;
        text-align: center;
    }
    p.qnt {
        width: fit-content;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 40px;
    }
    .remover-produto {
        cursor: pointer;
        border: none;
        background-color: #F5F5F7;
        text-decoration: underline;
        color: #F37160;
        font-size: 17px;
        font-weight: 400;
        position: relative;
        left: 90%;
        transform: translate(-90%);
        top: 25px;
    }
    p.sub {
        width: fit-content;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 50px;
        font-size: 24px;
        font-weight: 500;
    }
    #resumo-compra {
        display: none;
        width: 94%;
        height: 271px;
        position: relative;
        top: 410px;
        left: 0%;
        transform: translate(-0%);
        padding: 15px;
    }
    #totalComp {
        position: relative;
        top: 46px;
        font-size: 16px;
        font-weight: bold;
        left: -2px;
        /* width: 5%; */
    }
    #btnsResumo {
        width: 100%;
        position: absolute;
        left: 95%;
        transform: translate(-90%);
        /* border: 1px solid; */
    }
    #carrinho-vazio {
        height: 165px;
        width: 86%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 130px;
        display: inline;
        justify-content: center;
    }
    #tlt-vazio {
        font-size: 25px;
        font-weight: 600;
    }
    #carrinho-vazio > a {
        border: 1px solid #F37160;
        color: #F37160;
        background-color: white;
        border-radius: 5px;
        position: absolute;
        top: 110px;
        left: 50%;
        transform: translate(-50%);
        transition: 0.8s;
    }
    #cupomDesconto {
        width: 304px;
        height: 71px;
        position: relative;
        left: 0%;
        top: 70px;
    }
    .produto-carrinho > img {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 50px;
        width: 300px;
        margin-bottom: 10px;
    }   
    .input-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        position: absolute;
        left: 25%;
        top: -4px;
    }
    .input {
        border-style: none;
        height: 40px;
        width: 40px;
        padding: 10px;
        outline: none;
        border-radius: 50%;
        transition: .5s ease-in-out;
        background-color: transparent;
        box-shadow: 0px 0px 3px transparent;
        padding-right: 40px;
        color: #020202;
      }
      .icon:focus ~ .input,
      .input:focus {
        box-shadow: none;
        width: 150px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 2px solid #020202;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
      #sugestoes {
        background-color: white;
      }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .mainContentHeader {
        position: absolute;
        height: 460px;
        width: 100%;
        z-index: -1;
    }
    div#banners {
        height: 165px;
        position: relative;
        top: 300px;
        width: 65%;
        left: 18%;
        cursor: pointer;
    }
    .banner.active > img {
        width: 100%;
    }
    .menu {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .btnsMenu {
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: 45%;
        z-index: 9999;
        transform: translate(-50%);
    }
    .menu-wrapper {
        z-index: 1;
        display: block;
        top: 42%;
    }
    .linhaAbInp {
        border: 1px solid #e0e0e0;
        width: 70vw;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 44%;
    }
    .linhaAbNav {
        border: 1px solid #e0e0e0;
        width: 70vw;
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%);
    }
        .messageHeader {
        position: absolute;
        left: 4%;
        top: 18%;
        width: fit-content;
    }
    .linksHeader {
        width: fit-content;
        position: absolute;
        left: 60%;
        transform: translate(-60%);
        top: 15%;
    }
    .icons-mediaHeader {
        width: fit-content;
        position: absolute;
        left: 85%;
        transform: translate(-85%);
        top: 15%;
    }
        .logo-header {
        position: absolute;
        left: 0%;
        transform: translate(0%);
        top: 25%;
        width: fit-content;
    
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 65%;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 30%;
        width: fit-content;
        height: auto;
        z-index: 10;
    }
    .search-input > button {
        background-color: transparent;
        display: block;
        position: relative;
        left: 88%;
        top: -37px;
    }
    .notCad {
        width: 20%;
        position: absolute;
        left: 89%;
        transform: translate(-89%);
        top: 30%;
    }
    .carrinho {
        width: 6%;
        position: absolute;
        left: 95%;
        transform: translate(-85%);
        top: 30%;
    }
}

@media screen and (min-width:1025px) and (max-width:1300px) {  
    .popup {
        display: none;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 50%;
        width: 50%;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 13px;
    }
    .mainContentHeader {
        position: absolute;
        height: 460px;
        width: 100%;
        z-index: -1;
    }
    div#banners {
        height: 165px;
        position: relative;
        top: 300px;
        width: 65%;
        left: 18%;
        cursor: pointer;
    }
    .banner.active > img {
        width: 100%;
    }
    .menu {
        left: 50%;
        transform: translate(-50%);
        width: 91%;
        top: 45%;
        z-index: 1;
    }
    .menu-wrapper {
        z-index: 1;
        display: none;
        top: 42%;
    }
    .linhaAbInp {
        border: 1px solid #e0e0e0;
        width: 70vw;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 44%;
    }
    .linhaAbNav {
        border: 1px solid #e0e0e0;
        width: 70vw;
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%);
    }
    .messageHeader {
       position: absolute;
        left: 9%;
        top: 18%;
        width: fit-content;
    }
    .linksHeader {
        width: fit-content;
        position: absolute;
        left: 60%;
        transform: translate(-60%);
        top: 15%;
    }
    .icons-mediaHeader {
        width: fit-content;
        position: absolute;
        left: 85%;
        transform: translate(-85%);
        top: 15%;
    }
    .logo-header {
                position: absolute;
        left: 7%;
        transform: translate(0%);
        top: 25%;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 65%;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 30%;
        width: fit-content;
        height: auto;
        z-index: 10;
    }
    .search-input > button {
        background-color: transparent;
        display: block;
        position: relative;
        left: 85%;
        top: -22px;
    }
    .mobile-menu {display: none;}
    .linhaAbInp {display: block;}
    .linhaAbNav {display: block;}
    .notCad {
        width: fit-content;
        position: absolute;
        left: 85%;
        transform: translate(-85%);
        top: 30%;
    }
    .carrinho {
        width: 6%;
        position: absolute;
        left: 95%;
        transform: translate(-85%);
        top: 30%;
    }
}
@media screen and (min-width:1301px) and (max-width:1440px){
     .popup {
        display: none;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 50%;
        width: 50%;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 13px;
    }
    .logo-header {
        position: absolute;
        left: 17%;
        transform: translate(-17%);
        top: 14%;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 56%;
    }

    .linksHeader {
    width: fit-content;
    position: absolute;
    left: 60%;
    transform: translate(-60%);
    top: 8%;
}
.icons-mediaHeader {
    width: fit-content;
    position: absolute;
    left: 75%;
    transform: translate(-75%);
    top: 8%;
}
    .messageHeader {
    position: absolute;
    left: 188px;
    top: 10%;
    width: fit-content;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-55%);
        top: 16%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }

    .mainContentHeader {
        position: absolute;
        height: 65vw;
        width: 100%;
        z-index: -1;
    }
    div#suggestions-container {
        display: none;
        background-color: white;
        width: 35vw;
        box-shadow: -1px -1px 3px black;
        height: auto;
        z-index: 1;
        position: relative;
        top: 35px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;
        padding: 20px;
        max-height: 455px;
        overflow-y: auto;
    }
    .notCad {
        width: fit-content;
        position: absolute;
        left: 80%;
        transform: translate(-80%);
        top: 16%;
    }
    .menu {
        position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    top: 26%;
    z-index: 1;

    }
    .carrinho {
        width: fit-content;
        position: absolute;
        left: 90%;
        transform: translate(-90%);
        top: 16%;
    }
    #nav-bar {
        position: absolute;
        left: 50%;
        top: 25%;
        width: 700px;
        transform: translate(-50%);
    }
    .bannerCateg > img {
        width: 730px;
    }
    .mainContentHeader {
        position: absolute;
        height: 65vw;
        width: 100%;
        z-index: 1;
    }
    div#suggestions-container {
        display: none;
        background-color: white;
        width: 35vw;
        box-shadow: -1px -1px 3px black;
        height: auto;
        z-index: 1;
        position: relative;
        top: 35px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;
        padding: 20px;
        max-height: 455px;
        overflow-y: auto;
    }
    .search-input > button {
        background-color: transparent;
        display: block;
        position: relative;
        left: 92%;
    }
    #carrinho-vazio {
        height: 165px;
        width: 57%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 35px;
    }
    #totalCarrinho {
        display: none;
        width: 100%;
        height: 180px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 10px;
        border-bottom: 1px solid black;
    }
    #totalCarrinho > h1 {
        width: fit-content;
        font-weight: 600;
        font-size: 40px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    #voltar {
        border: 1px solid #EF4126;
        color: #EF4126;
        background-color: white;
        box-shadow: -1px 2px 8px #000000a3;
        padding: 18px 28px 18px 28px;
        border-radius: 5px;
        position: relative;
        top: 50px;
        left: 43%;
        transform: translate(-43%);
        transition: 0.8s;
        font-weight: 500;
        font-size: 17px;
    }
    .produto-carrinho {
        position: relative;
        width: 95%;
        left: 50%;
        transform: translate(-50%);
        top: 220px;
        border-bottom: 1px solid black;
    }
    h2.nomeProduto {
        position: relative;
        left: 80%;
        width: fit-content;
        transform: translate(-80%);
        top: -295px;
    }
    p.qnt {
        width: fit-content;
        position: relative;
        left: 80%;
        transform: translate(-80%);
        top: -280px;
    }
    p.sub {
        width: fit-content;
        position: relative;
        left: 100%;
        transform: translate(-100%);
        top: -275px;
        font-size: 24px;
        font-weight: 500;
    }
    .remover-produto {
        cursor: pointer;
        border: none;
        background-color: #F5F5F7;
        text-decoration: underline;
        color: #F37160;
        font-size: 17px;
        font-weight: 400;
        position: relative;
        left: 100%;
        transform: translate(-100%);
        top: -265px;
    }
}
@media screen and (min-width:1441px) and (max-width:1635px) {
    .mainContentHeader {
        position: absolute;
        height: 28vw;
        width: 100%;
        z-index: -1;
    }

    .linksHeader {
    width: fit-content;
    position: absolute;
    left: 60%;
    transform: translate(-60%);
    top: 20%;
}
.icons-mediaHeader {
    width: fit-content;
    position: absolute;
    left: 75%;
    transform: translate(-75%);
    top: 20%;
}
    .messageHeader {
        position: absolute;
        left: 200px;
        top: 22%;
        width: fit-content;
    }
    .logo-header {
                position: absolute;
        left: 17%;
        transform: translate(-17%);
        top: 28%;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 56%;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-55%);
        top: 30%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }
    .notCad {
        width: fit-content;
        position: absolute;
        left: 80%;
        transform: translate(-80%);
        top: 30%;
    }
    .carrinho {
        width: fit-content;
        position: absolute;
        left: 90%;
        transform: translate(-90%);
        top: 32%;
    }
    .carrinho > span {
    background: black;
    color: white;
    padding: 3px;
    font-size: 12px;
    border-radius: 51%;
    cursor: pointer;
    position: relative;
    top: -8px;
}
    
    .menu {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: max-content;
        top: 50%;
        z-index: 1;
    }
        .linhaAbInp {
        top: 25%;
        border: 1px solid #e0e0e0;
        width: 70vw;
        position: absolute;
        left: 50%;
        top: 0%;
        top: 46%;
    }
        .linhaAbNav {
        border: 1px solid #e0e0e0;
        width: 70vw;
        position: absolute;
        left: 50%;
        top: 58%;
        transform: translate(-50%);
    }
   
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 1050px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -2%;
        top: -7px;
        width: 107px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
}
@media screen and (min-width:1636px) and (max-width:1789px) {
    .mainContentHeader {
    position: absolute;
    height: 40vw;
    width: 100%;
    z-index: -1;
}
.messageHeader {
    position: absolute;
    left: 14%;
    top: 11%;
    width: fit-content;
}
.menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    top: 27%;
    z-index: 1;
}
.linhaAbInp {
    border: 1px solid #e0e0e0;
    width: 70vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 24%;
}
.linhaAbNav {
    border: 1px solid #e0e0e0;
    width: 70vw;
    position: absolute;
    left: 50%;
    top: 32%;
    transform: translate(-50%);
}

.icons-mediaHeader {
    width: fit-content;
    position: absolute;
    left: 75%;
    transform: translate(-75%);
    top: 8%;
}
.linksHeader {
    width: fit-content;
    position: absolute;
    left: 60%;
    transform: translate(-60%);
    top: 8%;
}
   .logo-header {
        position: absolute;
        left: 17%;
        transform: translate(-17%);
        top: 14%;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 56%;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-55%);
        top: 16%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }
    .notCad {
        width: fit-content;
        position: absolute;
        left: 80%;
        transform: translate(-80%);
        top: 16%;
    }
    .carrinho {
        width: fit-content;
        position: absolute;
        left: 90%;
        transform: translate(-90%);
        top: 16%;
    }
    .carrinho > span {
    background: black;
    color: white;
    padding: 3px;
    font-size: 12px;
    border-radius: 51%;
    cursor: pointer;
    position: relative;
    top: -8px;
}

    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 1050px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -2%;
        top: -7px;
        width: 107px;
    }
}
@media screen and (min-width:2100px) {
        .mainContentHeader {
        position: absolute;
        height: 30vw;
        width: 100%;
        z-index: -1;
    }

    .logo-header {
    position: absolute;
    left: 17%;
    transform: translate(-17%);
    top: 13%;
    width: fit-content;
}
    .linksHeader {
        width: fit-content;
        position: absolute;
        left: 60%;
        transform: translate(-60%);
        top: 8%;
    }
    div#banners {
        height: 370px;
        position: relative;
        top: 300px;
        width: 1200px;
        left: 50%;
        transform: translate(-50%);
        cursor: pointer;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 10vw;
    }
    #totalCarrinho > h1 {
        font-weight: 600;
        font-size: 40px;
        position: absolute;
        left: 50%;
        width: max-content;
        transform: translate(-50%);
    }
    #voltar {
        border: 1px solid #EF4126;
        color: #EF4126;
        background-color: white;
        box-shadow: -1px 2px 8px #000000a3;
        padding: 18px 28px 18px 28px;
        border-radius: 5px;
        position: relative;
        top: 90px;
        left: 45%;
        transform: translate(-45%);
        transition: 0.8s;
        font-weight: 500;
        font-size: 17px;
    }
}