:root {
    --branco:#ffff;
    --coral:#F37160;
    --flamingo:#F69896;
    --concreto:#A7A9AC;
    --preto:#000000;
    --vermelho:#EF4126;
    --font-padrao:'Open Sans';
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Inter Tight';
    background-color: #F5F5F7;
}
header {
    height: 42px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 1%;
    background-color: transparent;
    transition: 2s;
    width: 100%;
}
header.scrolled {
    position: fixed;
    top: 0%;
    transition: 2s;
    color: black;
    width: 100%;
    z-index: 1000;
    background-color: white;
    height: 40px;
}
header.scrolled > #nav-bar > li > a {
    color: #6E6E73;
}
header.scrolled > #nav-bar > li > a:hover {
    color: #020202;
}
#logo2 {
    display: none;
}
#logo {
    position: absolute;
    left: -14%;
    width: 22%;
    top: -10px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
#nav-bar {
    position: absolute;
    left: 50%;
    top: 15%;
    width: 568px;
    transform: translate(-50%);
}
#nav-bar > li {
    display: inline;
    position: relative;
    left: 10%;
    padding-right: 24px;
}
#nav-bar > li > a {
    font-weight: 500;
    font-size: 14px;
    color: #6E6E73;
}
#nav-bar > li > a:hover {
    transition: 1s;
    color: #000000;
}
#icone-pesquisa {
    width: 22px;
    height: 24px;
    position: fixed;
    left: 112%;
    transform: translate(-112%);
    top: 1px;
}
#carrinho-compras {
    width: 32px;
    height: 34px;
    position: fixed;
    left: 110%;
    transform: translate(-120%);
    top: -6px;
}
#menu-icon {
    display: none;
}
#fechar-menu {
    display: none;
    cursor: pointer;
}
main {
    position: relative;
    top: 100px;
}
#carrinho-vazio {
    height: 165px;
    width: 24%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 35px;
}
#tlt-vazio {
    font-size: 40px;
    font-weight: 600;
}
#pr-vazio {
    font-size: 17px;
    font-weight: 400;
}
#carrinho-vazio > a {
    border: 1px solid #F37160;
    color: #F37160;
    background-color: #F5F5F7;
    padding: 18px 28px 18px 28px;
    border-radius: 5px;
    position: relative;
    top: 50px;
    left: 25%;
    transform: translate(-25%);
    transition: 0.8s;
}
#carrinho-vazio > a:hover {
    transition: 0.8s;
    color: #F5F5F7;
    background-color: #EF4126;
}
#totalCarrinho {
    display: none;
    width: 1156px;
    height: 180px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 10px;
    border-bottom: 1px solid black;
}
#totalCarrinho > h1 {
    font-weight: 600;
    font-size: 40px;
    position: relative;
    left: 22%;
    width: fit-content;
}
#voltar {
    border: 1px solid #EF4126;
    color: #EF4126;
    background-color: white;
    box-shadow: -1px 2px 8px #000000a3;
    padding: 18px 28px 18px 28px;
    border-radius: 5px;
    position: relative;
    top: 50px;
    left: 45%;
    transform: translate(-45%);
    transition: 0.8s;
    font-weight: 500;
    font-size: 17px;
}
#voltar:hover {
    transition: 0.8s;
    background-color: #EF4126;
    color: white;
}
.produto-carrinho {
    position: relative;
    width: 1132px;
    left: 50%;
    transform: translate(-50%);
    top: 220px;
    border-bottom: 1px solid black;
}
.produto-carrinho > img {
    position: relative;
    left: 5%;
    transform: translate(-5%);
    top: 50px;
}
.remover-produto {
    cursor: pointer;
    border: none;
    background-color: #F5F5F7;
    text-decoration: underline;
    color: #F37160;
    font-size: 17px;
    font-weight: 400;
    position: relative;
    left: 90%;
    transform: translate(-90%);
    top: -318px;
}
h2.nomeProduto {
    position: relative;
    left: 50%;
    width: fit-content;
    transform: translate(-50%);
    top: -295px;
}
p.qnt {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: -280px;
}
p.sub {
    width: fit-content;
    position: relative;
    left: 90%;
    transform: translate(-90%);
    top: -342px;
    font-size: 24px;
    font-weight: 500;
}
#resumo-compra {
    display: none;
    width: 620px;
    height: 271px;
    position: relative;
    top: 410px;
    left: 50%;
    transform: translate(-50%);
    padding: 15px;
}
.prResumo {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 20px;
}
#ladoDireito {
    width: 30%;
    height: 59px;
    position: relative;
    left: 100%;
    transform: translate(-100%);
    top: -110px;
}
span#totalDesconto {
    position: relative;
    top: -38px;
}
#totalComp {
    position: relative;
    top: 43px;
    font-size: 24px;
    font-weight: bold;
    left: -8px;
}
span#totalItens {
    position: relative;
    top: 22px;
    left: 0%;
}
#btnsResumo {
    width: 47%;
    position: absolute;
    left: 90%;
    transform: translate(-90%);
}
.btnResumo {
    font-size: 17px;
    font-weight: 500;
    padding: 18px 26px 18px 26px;
}
#voltarInicio {
    background-color: #F37160;
    color: white;
    border-radius: 5px;
    transition: 0.8s;
}
#voltarInicio:hover {
    transition: 0.8s;
    background-color: #EF4126;
}
#btnAvancar {
    background-color: white;
    border: 1px solid #EF4126;
    border-radius: 5px;
    color: #EF4126;
    transition: 0.8s;
}
#btnAvancar:hover {
    transition: 0.8s;
    background-color: #EF4126;
    color: white;
}
#cupomDesconto {
    width: 304px;
    height: 71px;
    position: relative;
    left: -5%;
    top: -35px;
}
#cupomDesconto > label {
    font-size: 17px;
    font-weight: 500;
}
#cupomDesconto > input {
    width: 210px;
    height: 40px;
    padding: 15px;
    font-size: 17px;
    margin-top: 10px;
}
#cupomDesconto > button {
    cursor: pointer;
    width: 72px;
    height: 40px;
    background-color: #EF4126;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 14px;
}
#avisoGeral {
    display: none;
}
#erroCarrinho {
    display: none;
}
.notifications-container {
    width: 320px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    left: 90%;
    transform: translate(-90%);
    top: 60px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .error-alert {
    border-radius: 0.375rem;
    padding: 1rem;
    background-color: rgb(254 242 242);
    border: 1px solid #f37160;
  }
  
  .error-svg {
    color: #F87171;
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .error-prompt-heading {
    color: #991B1B;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
  }
  
  .error-prompt-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
  }
  
  .error-prompt-wrap {
    margin-top: 0.5rem;
    color: #B91C1C;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .error-prompt-list {
    padding-left: 1.25rem;
    margin-top: 0.25rem;
    list-style-type: disc;
  }

  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .success {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(240 253 244);
    border: 1px solid rgb(22 101 52);
  }
  
  .succes-svg {
    color: rgb(74 222 128);
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .success-prompt-wrap {
    margin-left: 0.75rem;
  }
  
  .success-prompt-heading {
    font-weight: bold;
    color: rgb(22 101 52);
  }
  
  .success-prompt-prompt {
    margin-top: 0.5rem;
    color: rgb(21 128 61);
  }
  
  .success-button-container {
    display: flex;
    margin-top: 0.875rem;
    margin-bottom: -0.375rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    left: 25%;
    top: -10px;
}
  
  .input {
    border-style: none;
    height: 40px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: transparent;
    box-shadow: 0px 0px 3px transparent;
    padding-right: 40px;
    color: #020202;
  }
  
  .input::placeholder,
  .input {
    font-size: 17px;
  }
  
  .input::placeholder {
    color: #8f8f8f;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
  }
  
  .icon:focus ~ .input,
  .input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 2px solid #020202;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
#sugestoes {
    display: none;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    overflow-y: auto;
    width: 250px;
    border-radius: 3px;
    position: absolute;
    top: 35px;
    left: 20%;
    transition: 0.8s;
    background-color: white;
    z-index: 1000; /* Valor alto para garantir sobreposição */
}
#sugestoes:hover {
    transition: 0.8s;  
    box-shadow: 1px 1px 4px black;  
} 
#sugestoes ul {
    list-style-type: none; /* Remova os marcadores de lista */
    padding: 0;
}

#sugestoes li {
    margin-bottom: 5px;
    cursor: pointer;
    border-bottom: 1px solid;
    height: 27px;
}

#sugestoes li:hover {
    background-color: #f0f0f0; /* Mude a cor de fundo ao passar o mouse sobre os itens */
}
