@media screen and (min-width:320px) and (max-width:767px) {
    header {
        z-index: 999;
        position: absolute;
        width: 99%;
        left: 50%;
    }
    header.scrolled {
        position: inherit;
        top: 0%;
        border-bottom: 0px solid transparent;
        color: black;
        width: 0%;
        z-index: -1;
    }
    #nav-bar {
        display: none;
        width: 80%;
        padding: 15px;
        position: absolute;
        left: 60%;
        top: 5px;
        box-shadow: -1px -3px 20px black;
        border-radius: 5px;
        height: 495px;
        opacity: 0;
        z-index: 1000;
        background-color: white;
    }
    #nav-bar > li {
        display: block;
        padding-top: 14px;
        position: relative;
        top: 65px;
    }
    #nav-bar > li > a  {
        font-size: 28px;
    }
    #fechar-menu {
        display: none;
        cursor: pointer;
        width: fit-content;
        font-size: 40px;
        position: absolute;
        left: 72%;
    }
    #menu-icon {
        display: block;
        position: absolute;
        left: 80%;
        top: -10%;
    }
    #logo {
        position: absolute;
        left: 0%;
        transform: translate(-5%);
        top: -5px;
        width: 13%;
    }
    #icone-pesquisa {
        width: 34px;
        height: 36px;
        position: absolute;
        left: 15%;
        transform: translate(-15%);
        top: 3px;
    }
    #carrinho-compras {
        width: 44px;
        height: 46px;
        position: absolute;
        left: 33%;
        transform: translate(-120%);
        top: 6%;
    }
    #tabelaTransacoes {
        position: absolute;
        top: 980px;
        left: 0%;
        transform: translate(-0%);
        width: 50%;
    }
    #valoresRecarga {
        display: none;
        background-color: white;
        border-radius: 5px;
        box-shadow: -1px 3px 5px black;
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 240px;
        padding: 25px;
    }
    #metodosRecarga {
        display: none;
        background-color: white;
        border-radius: 5px;
        box-shadow: -1px 3px 5px black;
        width: 98%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 336px;
        padding: 25px;
    }
    .modal {
        display: none;
        width: 95vw;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 26px;
        max-width: 450px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 280px;
    }
}
@media screen and (min-width:768px) and (max-width:1440px){
    #logo {
        position: fixed;
        left: 20%;
        transform: translate(-20%);
        top: 1px;
    }
    header {
        height: 42px;
        width: 714px;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 1%;
        background-color: transparent;
        transition: 2s;
        width: 99%;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: fixed;
        left: 72%;
        transform: translate(-72%);
        top: 7px;
    }
    #valoresRecarga {
        display: none;
        background-color: white;
        border-radius: 5px;
        box-shadow: -1px 3px 5px black;
        width: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 240px;
        padding: 25px;
    }
    #metodosRecarga {
        display: none;
        background-color: white;
        border-radius: 5px;
        box-shadow: -1px 3px 5px black;
        width: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 240px;
        padding: 25px;
    }
}
@media screen and (min-width:2560px) {
    header {
        height: 42px;
        width: 714px;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 1%;
        background-color: transparent;
        transition: 2s;
    }
    header.scrolled {
        position: fixed;
        top: 0%;
        transition: 2s;
        color: white;
        width: 714px;
        z-index: 1000;
    }
    header.scrolled > #nav-bar > li > a {
        color: #6E6E73;
    }
    header.scrolled > #nav-bar > li > a:hover {
        color: #020202;
    }
    #logo {
        position: fixed;
        left: -4%;
        transform: translate(-4%);
        top: 1px;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
    #nav-bar {
        position: relative;
        left: 50%;
        top: 15%;
        width: 568px;
        transform: translate(-63%);
    }
    #nav-bar > li {
        display: inline;
        position: relative;
        left: 10%;
        padding-right: 24px;
    }
    #nav-bar > li > a {
        font-weight: 500;
        font-size: 14px;
        color: #6E6E73;
    }
    #nav-bar > li > a:hover {
        transition: 1s;
        color: #000000;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: fixed;
        left: 92%;
        transform: translate(-92%);
        top: 11px;
    }
    #carrinho-compras {
        width: 32px;
        height: 34px;
        position: fixed;
        left: 112%;
        transform: translate(-112%);
        top: -15%;
    }
}