@media screen and (min-width:320px) and (max-width:767px){
    .popup {
        display: none;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 70%;
        width: 90vw;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 13px;
    }
    header {
        z-index: 999;
        position: absolute;
        width: 99%;
        left: 0%;
    }
    .messageHeader {
        position: relative;
        left: 1%;
        top: 20px;
        width: fit-content;
    }
    li > a {
        text-decoration: none;
        color: #555555;
        padding: 5px;
        transition: 0.8s;
    }
    .linksHeader {
        width: fit-content;
        position: relative;
        left: 70%;
    }
    .linksHeader > ul > li {
        padding-right: 0px;
    }
    .notCad > p {
        font-weight: 300;
        font-size: 12px;
    }
    .notCad > p > a {
        font-weight: 300;
        font-size: 12px;
        text-decoration: underline;
    }
    .icons-mediaHeader {
        display: none;
    }
    .logo-header {
        position: relative;
        left: 10%;
        top: 30px;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 60vw;
    }
    .notCad {
        width: fit-content;
        position: relative;
        left: 85%;
        top: -17px;
    }
    .notCad > a {
        font-weight: 300;
        font-size: 12px;
    }
    .carrinho {
        width: fit-content;
        position: relative;
        left: 80%;
        top: -7px;
    }
    .linhaAbInp {display: none;}
    .linhaAbNav {display: none;}
    .menu {
        display: none;
    }
    .menu-wrapper {
        display: block;
    }
    #iconMenuMob {
        display: none;
        position: absolute;
        top: 11%;
        left: 95%;
        transform: translate(-95%);
        font-size: 28px;
    }
    .search-input {
        position: absolute;
        left: 45%;
        transform: translate(-45%);
        top: 100%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }
    div#suggestions-container {
        display: none;
        background-color: white;
        width: 70vw;
        box-shadow: -1px -1px 3px black;
        height: auto;
        z-index: 1;
        position: relative;
        top: -40px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;
        padding: 20px;
        max-height: 455px;
        overflow-y: auto;
    }
    .search-input > input {
        border: 1px solid #A8A8A8;
        background-color: transparent;
        width: 80vw;
        padding: 15px;
        border-radius: 30px;
    }
    .search-input > button {
        background-color: transparent;
        display: block;
        position: relative;
        left: 85%;
        top: -35px;
    }
    .menu-wrapper {
        z-index: 1;
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        top: 120%;
    }
    #wrapper {
        width: 220px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 110px;
    }
    #prev {
        top: 85%;
        left: -50px;
        transform: translate(50%, -50%);
    }
    #next {
        top: 85%;
        right: 19px;
        transform: translate(50%, -50%);
    }
    #nav-bar {
        display: none;
        width: 80%;
        padding: 15px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 5px;
        box-shadow: -1px -3px 20px black;
        border-radius: 5px;
        height: 715px;
        opacity: 0;
        z-index: 1000;
        background-color: white;
    }
    #nav-bar > li {
        display: block;
        padding-top: 14px;
        position: relative;
        top: 65px;
    }
    #nav-bar > li > a  {
        font-size: 28px;
    }
    #fechar-menu {
        display: none;
        cursor: pointer;
        width: fit-content;
        font-size: 40px;
        position: absolute;
        left: 72%;
    }
    #menu-icon {
        display: block;
        position: absolute;
        left: 100%;
        transform: translate(-100%);
        top: -10%;
    }
    #logo {
        display: none;
    }    
    #logo2 {
        display: block;
        position: absolute;
        left: 0%;
        transform: translate(-5%);
        top: -3px;
        width: 23%;
    }
    #icone-pesquisa {
        width: 34px;
        height: 36px;
        position: absolute;
        left: 30%;
        transform: translate(-30%);
        top: 33px;
    }
    #carrinho-compras {
        width: 44px;
        height: 46px;
        position: absolute;
        left: 33%;
        transform: translate(-120%);
        top: 6%;
    }
    #detalhes-produto {
        width: 100%;
        position: absolute;
        left: 28%;
        transform: translate(-28%);
        top: 35%;
        height: 758px;
    }
    #img-produto {
        width: 96%;
        position: absolute;
        left: 0%;
        transform: translate(-0%);
        top: 185%;
    }
    #img-produto > img {
        width: 340px;
        height: 340px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    #variacoes > select {
        width: 255px;
        height: 48px;
        border-radius: 5px;
        font-size: 17px;
        font-weight: 400;
        border: none;
        box-shadow: -1px -1px 3px black;
        background-color: white;
    }
    #variacoes {
        position: relative;
        top: 10px;
        left: 5%;
        width: 100px;
    }
    #descricao-produto {
        position: absolute;
        top: 280%;
        left: 0%;
        width: 100%;
        height: 255px;
        transform: translate(-0%);
        padding: 15px;
    }
    #gabarito {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 480px;
        width: 187px;
        height: 76px;
        border-radius: 5px;
        box-shadow: -1px 2px 8px #000000a3;
        transition: 0.8s;
    }
    #descricao-produto > h2 {
        font-size: 32px;
        font-weight: 600;
        width: 55%;
    }
    section#quantidades {
        position: absolute;
        left: 51%;
        transform: translate(-50%);
        top: 143%;
        background-color: white;
        border: 1px solid #DEE2E6;
        width: 100vw;
    }
    .checkQuant {
        cursor: pointer;
        background-color: white;
        width: 95vw;
        height: 61px;
        padding: 18px;
        transition: 0.8s;
        border-bottom: 1px solid #DEE2E6;
    }
    .slides > img {
        width: 290px;
        height: 380px;
        border-radius: 5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    div#banners {
        height: 165px;
        position: relative;
        top: 300px;
        width: 65%;
        left: 18%;
        cursor: pointer;
    }
    .banner.active > img {
        width: 530px;
    }
    .menu {
        display: none;
    }
    .menu-wrapper {
        z-index: 1;
        display: block;
        top: 42%;
    }
    .linhaAbInp {
        border: 1px solid #e0e0e0;
        width: 70vw;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 44%;
    }
    .linhaAbNav {
        border: 1px solid #e0e0e0;
        width: 70vw;
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%);
    }
    .messageHeader {
        position: absolute;
        left: 20%;
        top: 15%;
        width: fit-content;
    }
    .linksHeader {
        width: fit-content;
        position: absolute;
        left: 60%;
        transform: translate(-60%);
        top: 15%;
    }
    .icons-mediaHeader {
        width: fit-content;
        position: absolute;
        left: 85%;
        transform: translate(-85%);
        top: 15%;
    }
    .logo-header {
        position: absolute;
        left: 0%;
        transform: translate(0%);
        top: 25%;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 65%;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 30%;
        width: fit-content;
        height: auto;
        z-index: 10;
    }
    .search-input > button {
        background-color: transparent;
        display: block;
        position: relative;
        left: 85%;
        top: -22px;
    }
    .notCad {
        width: fit-content;
        position: absolute;
        left: 85%;
        transform: translate(-85%);
        top: 30%;
    }
    .carrinho {
        width: 6%;
        position: absolute;
        left: 95%;
        transform: translate(-85%);
        top: 30%;
    }
    #banners > #nextBtn1 {
        right: -125px;
    }
    #wrapper {
        width: 100%;
        max-width: 452px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 435px;
        cursor: pointer;
    }
}
@media screen and (min-width:1024px) and (max-width:1440px) {
    span#quantidadeCarrinho {
        position: absolute;
        left: 111%;
        transform: translate(-111%);
        background: black;
        color: white;
        padding: 3px;
        font-size: 12px;
        border-radius: 51%;
        cursor: pointer;
      }
    #variacoes {
        position: relative;
        top: 10px;
        left: 5%;
        display: grid;
        gap: 1px;
    }
    #detalhes-produto > p {
        font-size: 17px;
        font-weight: 400;
        margin: 8px;
        width: fit-content;
    }
    #detalhes-produto > h1 {
        font-size: 32px;
        font-weight: 600;
        width: fit-content;
    }
    header {
        height: 42px;
        width: 714px;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 1%;
        background-color: transparent;
        transition: 2s;
        width: 99%;
    }
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 700px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -14%;
        top: -2px;
        width: 107px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
    #descricao-produto > h2 {
        font-size: 32px;
        font-weight: 600;
        width: fit-content;
    }
    #detalhes-produto {
        width: 50%;
        position: absolute;
        left: 10%;
        transform: translate(-10%);
        top: 118px;
    }
    #img-produto {
        width: 40%;
        position: absolute;
        left: 90%;
        transform: translate(-90%);
        top: 90%;
    }
    #descricao-produto {
        position: absolute;
        top: 180%;
        left: 50%;
        width: 75%;
        height: 255px;
        transform: translate(-50%);
        padding: 15px;
    }
    section#quantidades {
        position: absolute;
        left: 70%;
        transform: translate(-70%);
        top: 31%;
        background-color: white;
        border: 1px solid #DEE2E6;
        width: 17vw;
    }
}
@media screen and (min-width:1441px) and (max-width:1635px) {
    span#quantidadeCarrinho {
        position: absolute;
        left: 111%;
        transform: translate(-111%);
        background: black;
        color: white;
        padding: 3px;
        font-size: 12px;
        border-radius: 51%;
        cursor: pointer;
      }
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 1050px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -2%;
        top: -7px;
        width: 107px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
    #detalhes-produto {
        width: 318px;
        position: absolute;
        left: 55%;
        transform: translate(-55%);
        top: 180px;
    }
    section#quantidades {
        position: absolute;
        left: 85%;
        transform: translate(-85%);
        top: 30%;
        background-color: white;
        border: 1px solid #DEE2E6;
        width: 17vw;
    }
}
@media screen and (min-width:1635px) and (max-width:1879px) {
    span#quantidadeCarrinho {
        position: absolute;
        left: 111%;
        transform: translate(-111%);
        background: black;
        color: white;
        padding: 3px;
        font-size: 12px;
        border-radius: 51%;
        cursor: pointer;
      }
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 1050px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -2%;
        top: -7px;
        width: 107px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
    #variacoes {
        position: relative;
        top: 10px;
        left: 5%;
        display: grid;
        gap: 1px;
    }
    #descricao-produto {
        position: absolute;
        top: 140%;
        left: 50%;
        width: 888px;
        height: 255px;
        transform: translate(-50%);
        padding: 15px;
    }
    #detalhes-produto {
        width: 318px;
        position: absolute;
        left: 55%;
        transform: translate(-55%);
        top: 180px;
    }
    section#quantidades {
        position: absolute;
        left: 85%;
        transform: translate(-85%);
        top: 30%;
        background-color: white;
        border: 1px solid #DEE2E6;
        width: 17vw;
    }
}
@media screen and (min-width:2560px) {
    span#quantidadeCarrinho {
        position: absolute;
        left: 111%;
        transform: translate(-111%);
        background: black;
        color: white;
        padding: 3px;
        font-size: 12px;
        border-radius: 51%;
        cursor: pointer;
      }
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 1050px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -2%;
        top: -7px;
        width: 107px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
    #detalhes-produto {
        width: 358px;
    }
    #variacoes {
        margin: 20px;
    }
    header {
        z-index: 999;
    }
    #sugestoes {
        background-color: white;
    }
}