@media screen and (min-width:320px) and (max-width:767px){
    header {
        z-index: 999;
        position: absolute;
        width: 90%;
        left: 45%;
    }
    header.scrolled {
        position: inherit;
        top: 0%;
        border-bottom: 0px solid transparent;
        color: white;
        width: 0%;
        z-index: -1;
    }
    #nav-bar {
        display: none;
        width: 90%;
        padding: 15px;
        position: absolute;
        left: 65%;
        top: 5px;
        box-shadow: -1px -3px 20px black;
        border-radius: 5px;
        height: 455px;
        opacity: 0;
        z-index: 1000;
        background-color: white;
    }
    #nav-bar > li {
        display: block;
        padding-top: 14px;
        position: relative;
        top: 65px;
    }
    #nav-bar > li > a  {
        font-size: 28px;
    }
    #fechar-menu {
        display: none;
        cursor: pointer;
        width: fit-content;
        font-size: 40px;
        position: absolute;
        left: 72%;
    }
    #menu-icon {
        display: block;
        position: relative;
        left: 80%;
        top: -8%;
        width: fit-content;
    }
    #logo {
        position: absolute;
        left: 9%;
        transform: translate(-5%);
        top: 0px;
        width: 10%;
    }
    #icone-pesquisa {
        width: 34px;
        height: 36px;
        position: absolute;
        left: 22%;
        transform: translate(-15%);
        top: 3px;
    }
    #carrinho-compras {
        width: 44px;
        height: 46px;
        position: absolute;
        left: 33%;
        transform: translate(-120%);
        top: 6%;
    }
    #detalhes-produto {
        width: 100%;
        position: absolute;
        left: 28%;
        transform: translate(-28%);
        top: 180px;
        height: 758px;
    }
    #img-produto {
        width: 96%;
        position: absolute;
        left: 0%;
        transform: translate(-0%);
        top: 150%;
    }
    #img-produto > img {
        width: 340px;
        height: 340px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    #variacoes > select {
        width: 277px;
        height: 48px;
        border-radius: 5px;
        margin: 55px;
        margin-top: 8px;
        font-size: 17px;
        font-weight: 400;
        border: none;
        box-shadow: -1px -1px 3px black;
        background-color: white;
    }
    #variacoes {
        position: relative;
        top: 10px;
        left: 5%;
    }
    #descricao-produto {
        position: absolute;
        top: 240%;
        left: 0%;
        width: 888px;
        height: 255px;
        transform: translate(-0%);
        padding: 15px;
    }
    #gabarito {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 400px;
        width: 187px;
        height: 76px;
        border-radius: 5px;
        box-shadow: -1px 2px 8px #000000a3;
        transition: 0.8s;
    }
}
@media screen and (min-width:768px) and (max-width:1440px) {
    #variacoes {
        position: relative;
        top: 10px;
        left: 5%;
        display: grid;
        gap: 1px;
    }
    #detalhes-produto > p {
        font-size: 17px;
        font-weight: 400;
        margin: 8px;
        width: fit-content;
    }
    #detalhes-produto > h1 {
        font-size: 32px;
        font-weight: 600;
        width: fit-content;
    }
    #logo {
        position: fixed;
        left: 5%;
        transform: translate(-5%);
        top: 1px;
    }
    header {
        height: 42px;
        width: 714px;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 1%;
        background-color: transparent;
        transition: 2s;
        width: 99%;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: fixed;
        left: 86%;
        transform: translate(-86%);
        top: 7px;
    }
    #descricao-produto > h2 {
        font-size: 32px;
        font-weight: 600;
        width: fit-content;
    }
    #detalhes-produto {
        width: 50%;
        position: absolute;
        left: 10%;
        transform: translate(-10%);
        top: 118px;
    }
    #img-produto {
        width: 40%;
        position: absolute;
        left: 90%;
        transform: translate(-90%);
        top: 200px;
    }
    #descricao-produto {
        position: absolute;
        top: 130%;
        left: 50%;
        width: 75%;
        height: 255px;
        transform: translate(-50%);
        padding: 15px;
    }
}
@media screen and (min-width:1024px) and (max-width:1440px) {
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: fixed;
        left: 78%;
        transform: translate(-78%);
        top: 7px;
    }
    #logo {
        position: fixed;
        left: 15%;
        transform: translate(-15%);
        top: 1px;
    }
}
@media screen and (min-width:1441px) and (max-width:1800px) {
    #detalhes-produto {
        width: 23%;
        position: absolute;
        left: 28%;
        transform: translate(-28%);
        top: 180px;
    }
    #variacoes {
        position: relative;
        top: 10px;
        left: 5%;
        display: grid;
        gap: 1px;
    }
    #descricao-produto {
        position: absolute;
        top: 130%;
        left: 50%;
        width: 888px;
        height: 255px;
        transform: translate(-50%);
        padding: 15px;
    }
}
@media screen and (min-width:2560px) {
    #detalhes-produto {
        width: 14%;
    }
    #variacoes {
        margin: 17px;
    }
    #logo {
        position: fixed;
        left: 36%;
        transform: translate(-36%);
        top: 1px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: fixed;
        left: 61%;
        transform: translate(-61%);
        top: 7px;
    }
    header {
        z-index: 999;
    }
    #sugestoes {
        background-color: white;
    }
}