:root {
    --branco:#ffff;
    --coral:#F37160;
    --flamingo:#F69896;
    --concreto:#A7A9AC;
    --preto:#000000;
    --vermelho:#EF4126;
    --font-padrao:'Open Sans';
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: var(--font-padrao
    );
    background-color: #F5F5F7;
}
#logo {
  width: 15%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
header > h1 {
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    left: 15%;
    top: 80px;
}
#linhaHr {
    border: 1px solid black;
    width: 90vw;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%);
}
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 20px;
  flex-wrap: wrap;
}
div#produto-info {
    position: relative;
    top: 150px;
    width: 52%;
    height: 920px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
button, #btnCancelarPedido {
  cursor: pointer;
  cursor: pointer;
  font-size: 1.1rem;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#btnCancelarPedido {
  background-color: #ef4444;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
}

#btnAceitarPedido {
  background-color: #8EC8AA;
  color: #1b3c2e;
}

button:hover, #btnCancelarPedido:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#botoes-container {
  width: fit-content;
  position: relative;
  left: 60%;
  top: 95%;
}
.itensProduto {
    position: relative;
    left: 10%;
    z-index: 1;
    height: 750px;
}
.itensProduto > img {
  width: 380px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.itensProduto > p {
    width: fit-content;
    font-size: 1.1rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 15px;
}
.itensProduto > a {
    color: #F37160;
}
.detalhesEntrega {
    position: relative;
    left: 65%;
    width: 30%;
    top: -500px;
    padding: 15px;
}
.detalhesEntrega > p {
    width: fit-content;
    margin-bottom: 10px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 15px;
}
.detalhesEntrega > h2 {
    width: fit-content;
    margin-bottom: 10px;
}
.itensProduto > h2 {
    width: fit-content;
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #EF4126;
    line-height: 1.5;
    margin-bottom: 15px;
}
#formEntrega {
    display: none;
    position: absolute;
    left: 85%;
    transform: translate(-85%);
    top: 350px;
    box-shadow: -2px -2px 13px #00000099;
    border-radius: 5px;
    width: 26%;
    padding: 15px;
    height: auto;
    z-index: 1;
    background-color: white;
}
#formEntrega > h2 {
    margin-bottom: 5px;
}
button#btnConfEnt {
    position: relative;
    top: 10px;
    left: 55%;
    padding: 16px 28px 16px 28px;
    font-size: 17px;
    font-weight: 600;
    color: white;
    background-color: #EF4126;
    border: none;
    transition: 0.8s;
    border-radius: 5px;
    cursor: pointer;
}
button#btnConfEnt:hover {
    transition: 0.8s;
    background-color: white;
    border: 1px solid #EF4126;
    color: #EF4126;
}
#formEntrega > input {
    font-size: 1em;
    width: 24vw;
    height: 40px;
    margin: 5px;
    padding: 6px;
}
#avisoEntregue {
    display: none;
    position: relative;
    top: 630px;
}
.notifications-container {
    width: 320px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    left: 90%;
    transform: translate(-90%);
    top: 60px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .success {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(240 253 244);
    border: 1px solid rgb(22 101 52);
  }
  
  .succes-svg {
    color: rgb(74 222 128);
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .success-prompt-wrap {
    margin-left: 0.75rem;
  }
  
  .success-prompt-heading {
    font-weight: bold;
    color: rgb(22 101 52);
  }
  
  .success-prompt-prompt {
    margin-top: 0.5rem;
    color: rgb(21 128 61);
  }
  
  .success-button-container {
    display: flex;
    margin-top: 0.875rem;
    margin-bottom: -0.375rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  
  .success-button-main {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #ECFDF5;
    color: rgb(22 101 52);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none
  }
  
  .success-button-main:hover {
    background-color: #D1FAE5;
  }
  
  .success-button-secondary {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.75rem;
    background-color: #ECFDF5;
    color: #065F46;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.375rem;
    border: none;
  }
  .spinnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 83%;
    transform: translate(-83%);
    top: 10px;
}
  
  .spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #EF4126;
    animation: tri-spinner 1s infinite linear;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: tri-spinner 2s infinite;
  }
  
  .spinner::after {
    margin: 8px;
    animation-duration: 3s;
  }
  
  @keyframes tri-spinner {
    100% {
      transform: rotate(1turn);
    }
  }
  
  .loader {
    color: #4a4a4a;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
  }
  
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #F37160;
    animation: cycle-words 5s infinite;
  }
  
  @keyframes cycle-words {
    10% {
      -webkit-transform: translateY(-105%);
      transform: translateY(-105%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-205%);
      transform: translateY(-205%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-305%);
      transform: translateY(-305%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-405%);
      transform: translateY(-405%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }
  div#carregamento {
    display: none;
    transition: 0.8s;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 440px;
    box-shadow: -2px 2px 12px black;
    border-radius: 5px;
    width: 475px;
    height: 140px;
    background-color: white;
}