:root {
    --branco:#ffff;
    --coral:#F37160;
    --flamingo:#F69896;
    --concreto:#A7A9AC;
    --preto:#000000;
    --vermelho:#EF4126;
    --font-padrao:'Open Sans';
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: var(--font-padrao);
    background-color: #F5F5F7;
}
header {
    height: 42px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 1%;
    background-color: transparent;
    transition: 2s;
    width: 100%;
}
#logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 15%;
    top: -11px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
main > h1 {
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    left: 15%;
    top: 80px;
}
#linhaHr {
    border: 1px solid black;
    width: 90vw;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%);
}
main > h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    position: absolute;
    top: 150px;
    left: 20%;
    transform: translate(-20%);
}
p {
    width: fit-content;
}
h1 {
    width: fit-content;
}
div#detalhes-pedido {
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translate(-50%);
    width: 74%;
}
div#endereco-list {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: -1px 3px 5px black;
    margin-bottom: 20px;
}
div#itens-pedido-list {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: -1px 3px 5px black;
}
div#divItem > img {
    width: 100%;
    max-width: 380px;
}