:root {
    --branco:#ffff;
    --coral:#F37160;
    --flamingo:#F69896;
    --concreto:#A7A9AC;
    --preto:#000000;
    --vermelho:#EF4126;
    --font-padrao:'Open Sans';
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Inter Tight';
    background-color: #F5F5F7;
}
header {
    height: 42px;
    width: 714px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 1%;
    background-color: transparent;
    transition: 2s;
    width: 100%;
    z-index: 999;
}
header.scrolled {
    position: fixed;
    top: 0%;
    transition: 2s;
    color: black;
    width: 100%;
    z-index: 1000;
}
header.scrolled > #nav-bar > li > a {
    color: #6E6E73;
}
header.scrolled > #nav-bar > li > a:hover {
    color: #020202;
}
#logo {
    position: fixed;
    left: 32%;
    transform: translate(-32%);
    top: 1px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
#nav-bar {
    position: relative;
    left: 50%;
    top: 15%;
    width: 568px;
    transform: translate(-63%);
}
#nav-bar > li {
    display: inline;
    position: relative;
    left: 10%;
    padding-right: 24px;
}
#nav-bar > li > a {
    font-weight: 500;
    font-size: 14px;
    color: #6E6E73;
}
#nav-bar > li > a:hover {
    transition: 1s;
    color: #000000;
}
#icone-pesquisa {
    width: 22px;
    height: 24px;
    position: fixed;
    left: 64%;
    transform: translate(-64%);
    top: 7px;
}
#carrinho-compras {
    width: 32px;
    height: 34px;
    position: fixed;
    left: 110%;
    transform: translate(-120%);
    top: -6px;
}
#menu-icon {
    display: none;
}
#fechar-menu {
    display: none;
    cursor: pointer;
}
#detalhes-produto {
    width: 17%;
    position: absolute;
    left: 28%;
    transform: translate(-28%);
    top: 180px;
}
#detalhes-produto > h1 {
    font-size: 32px;
    font-weight: 600;
}
#detalhes-produto > p {
    font-size: 17px;
    font-weight: 400;
    margin: 8px;
}
#detalhes-produto > label {
    font-size: 17px;
    font-weight: 300;
}
#variacoes {
    position: relative;
    top: 10px;
}
#variacoes > label {
    font-size: 17px;
    font-weight: 300;
    margin-top: 15px;
}
#variacoes > select {
    width: 277px;
    height: 48px;
    border-radius: 5px;
    margin: 10px;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 400;
    border: none;
    box-shadow: -1px -1px 3px black;
}
#detalhes-produto > input[type="number"] {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    box-shadow: -1px -1px 3px black;
    text-align: center;
    font-size: 17px;
    margin: 8px;
}
#detalhes-produto > button {
    cursor: pointer;
    margin-top: 15px;
    background-color: #F37160;
    border: none;
    border-radius: 4px;
    width: 195px;
    height: 51px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    box-shadow: -1px 2px 8px #000000a3;
}
#lnk-comp {
    padding: 15px 25px 15px 25px;
    border: 1px solid #EF4126;
    color: #EF4126;
    font-weight: 500;
    font-size: 17px;
    box-shadow: -1px 2px 8px #000000a3;
    transition: 0.8s;
    border-radius: 4px;
}
#lnk-comp:hover {
    transition: 0.8s;
    background-color: #F37160;
    color: white;
}
#cont-comp {
    text-decoration: underline;
    color: #F37160;
    position: relative;
    top: 10px;
    left: 2%;
    transform: translate(-2%);
}
#img-produto {
    width: 40%;
    position: absolute;
    left: 80%;
    transform: translate(-80%);
    top: 200px;
}
#img-produto > img {
    width: 380px;
    height: 380px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
#gabarito {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 440px;
    width: 187px;
    height: 76px;
    border-radius: 5px;
    box-shadow: -1px 2px 8px #000000a3;
    transition: 0.8s;
}
#gabarito:hover {
    transition: 0.8s;
    box-shadow: -1px 2px 8px #F37160;
}
#gabarito > h2 {
    width: max-content;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 5px;
}
#icone-adobe {
    width: 60px;
    height: 60px;
    position: relative;
    left: 50%;
    top: 3px;
    transform: translate(-50%);
}
#descricao-produto {
    position: absolute;
    top: 115%;
    left: 50%;
    width: 888px;
    height: 255px;
    transform: translate(-50%);
    padding: 15px;
}
#descricao-produto > h2 {
    font-size: 32px;
    font-weight: 600;
}
#descricao-produto > p {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 400;
    text-indent: 5px;
}

#avisoGeral {
    display: none;
}
#erroCarrinho {
    display: none;
}
  .notifications-container {
    width: 320px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    left: 90%;
    transform: translate(-90%);
    top: 60px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .error-alert {
    border-radius: 0.375rem;
    padding: 1rem;
    background-color: rgb(254 242 242);
    border: 1px solid #f37160;
  }
  
  .error-svg {
    color: #F87171;
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .error-prompt-heading {
    color: #991B1B;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
  }
  
  .error-prompt-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
  }
  
  .error-prompt-wrap {
    margin-top: 0.5rem;
    color: #B91C1C;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .error-prompt-list {
    padding-left: 1.25rem;
    margin-top: 0.25rem;
    list-style-type: disc;
  }

  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .success {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(240 253 244);
    border: 1px solid rgb(22 101 52);
  }
  
  .succes-svg {
    color: rgb(74 222 128);
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .success-prompt-wrap {
    margin-left: 0.75rem;
  }
  
  .success-prompt-heading {
    font-weight: bold;
    color: rgb(22 101 52);
  }
  
  .success-prompt-prompt {
    margin-top: 0.5rem;
    color: rgb(21 128 61);
  }
  
  .success-button-container {
    display: flex;
    margin-top: 0.875rem;
    margin-bottom: -0.375rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    left: 25%;
    top: -10px;
}
  
  .input {
    border-style: none;
    height: 40px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: transparent;
    box-shadow: 0px 0px 3px transparent;
    padding-right: 40px;
    color: #020202;
  }
  
  .input::placeholder,
  .input {
    font-size: 17px;
  }
  
  .input::placeholder {
    color: #8f8f8f;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
  }
  
  .icon:focus ~ .input,
  .input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 2px solid #020202;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  #sugestoes {
    display: none;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    overflow-y: auto;
    width: 250px;
    border-radius: 3px;
    position: absolute;
    top: 35px;
    left: 20%;
    transition: 0.8s;
    background-color: white;
}
#sugestoes:hover {
    transition: 0.8s;  
    box-shadow: 1px 1px 4px black;  
} 
#sugestoes ul {
    list-style-type: none; /* Remova os marcadores de lista */
    padding: 0;
}

#sugestoes li {
    margin-bottom: 5px;
    cursor: pointer;
    border-bottom: 1px solid;
    height: 27px;
}

#sugestoes li:hover {
    background-color: #f0f0f0; /* Mude a cor de fundo ao passar o mouse sobre os itens */
}   