:root {
    --branco:#ffff;
    --coral:#F37160;
    --flamingo:#F69896;
    --concreto:#A7A9AC;
    --preto:#000000;
    --vermelho:#EF4126;
    --font-padrao:'Open Sans';
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: var(--font-padrao);
    background-color: #F5F5F7;
}
header {
    height: 42px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 1%;
    background-color: transparent;
    transition: 2s;
    width: 100%;
}
#logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 15%;
    top: -11px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
main > h1 {
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    left: 15%;
    top: 80px;
}
#linhaHr {
    border: 1px solid black;
    width: 90vw;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%);
}
main > h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    position: absolute;
    top: 150px;
    left: 20%;
    transform: translate(-20%);
}
p {
    width: fit-content;
}
h1 {
    width: fit-content;
}
div#detalhes-pedido {
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translate(-50%);
    width: 74%;
}
div#endereco-list {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: -1px 3px 5px black;
    margin-bottom: 20px;
}
div#itens-pedido-list {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: -1px 3px 5px black;
}
div#divItem > img {
    width: 100%;
    max-width: 380px;
}
.spinnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 83%;
    transform: translate(-83%);
    top: 10px;
  }
  
  .spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #EF4126;
    animation: tri-spinner 1s infinite linear;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: tri-spinner 2s infinite;
  }
  
  .spinner::after {
    margin: 8px;
    animation-duration: 3s;
  }
  
  @keyframes tri-spinner {
    100% {
      transform: rotate(1turn);
    }
  }
  
  .loader {
    color: #4a4a4a;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
  }
  
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #F37160;
    animation: cycle-words 5s infinite;
  }
  
  @keyframes cycle-words {
    10% {
      -webkit-transform: translateY(-105%);
      transform: translateY(-105%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-205%);
      transform: translateY(-205%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-305%);
      transform: translateY(-305%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-405%);
      transform: translateY(-405%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }
  div#carregamento {
    display: none;
    transition: 0.8s;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 440px;
    box-shadow: -2px 2px 12px black;
    border-radius: 5px;
    width: 475px;
    height: 140px;
    background-color: white;
    z-index: 1;
  }