:root {
    --branco:#ffff;
    --coral:#F37160;
    --flamingo:#F69896;
    --concreto:#A7A9AC;
    --preto:#000000;
    --vermelho:#EF4126;
    --font-padrao:'Open Sans';
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}
.background-image {
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    max-width: 430px;
    min-width: 300px;
    opacity: 1;
    cursor: pointer;
}
.background-border {
    position: fixed;
    top: 0%;
    left: 100%;
    transform: translateX(-100%);
    height: 100vh;
    width: 70%;
    min-width: 900px;
    opacity: 0.8;
    cursor: pointer;
    z-index: -1;
    object-fit: cover; /* Garante que a imagem cubra toda a área sem distorcer */
}
#voltar-painel {
    margin: 20px;
    position: relative;
    top: 20px;
    color: #F37160;
    font-weight: bold;
}
.container {
    max-width: 700px;
    margin: auto;
    padding: 30px;
    background: #fff;
    border: 1px solid #A7A9AC;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    position: relative;
    top: 200px;
}
h2 {
    text-align: center;
    color: #F37160;
    font-size: 2em;
    margin-bottom: 20px;
}   
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}   
.full {
    grid-column: 1 / -1;
}   
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #A7A9AC;
    border-radius: 8px;
    font-size: 16px;
}
button {
    background-color: #F37160;
    border: none;
    padding: 14px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
button:hover {
    background-color: #F69896;
}
.message {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #EF4126;
}
#acoesUser {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 25%;
    width: 35vw;
    height: 50vh;
    border-radius: 20px;
    background-color: white;
    box-shadow: -1px 1px 3px black;
    padding: 15px;
}
#acoesUser > ul {
    padding: 25px;
}
#acoesUser > ul > li {
    padding-top: 10px;
}
#fecharAcoes {
    position: relative;
    left: 95%;
    color: black;
    font-size: 1.2em;
}
.acoes {
    color: #EF4126;
}
#btnExcluirUser {
    color: red;
}

#abrirAcoes {
    color: #EF4126;
}