@media screen and (min-width:320px) and (max-width:767px) {
    header {
        z-index: 999;
        position: absolute;
        width: 99%;
        left: 50%;
    }
    header.scrolled {
        position: inherit;
        top: 0%;
        border-bottom: 0px solid transparent;
        color: white;
        width: 0%;
        z-index: -1;
    }
    #nav-bar {
        display: none;
        width: 80%;
        padding: 15px;
        position: absolute;
        left: 60%;
        top: 5px;
        box-shadow: -1px -3px 20px black;
        border-radius: 5px;
        height: 495px;
        opacity: 0;
        z-index: 1000;
        background-color: white;
    }
    #nav-bar > li {
        display: block;
        padding-top: 14px;
        position: relative;
        top: 65px;
    }
    #nav-bar > li > a  {
        font-size: 28px;
    }
    #fechar-menu {
        display: none;
        cursor: pointer;
        width: fit-content;
        font-size: 40px;
        position: absolute;
        left: 72%;
    }
    #menu-icon {
        display: block;
        position: absolute;
        left: 80%;
        top: -10%;
    }
    #logo {
        position: absolute;
        left: 0%;
        transform: translate(-5%);
        top: -5px;
        width: 13%;
    }
    #icone-pesquisa {
        width: 34px;
        height: 36px;
        position: absolute;
        left: 15%;
        transform: translate(-15%);
        top: 3px;
    }
    #carrinho-compras {
        width: 44px;
        height: 46px;
        position: absolute;
        left: 33%;
        transform: translate(-120%);
        top: 6%;
    }
    main > h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 61px;
        position: absolute;
        top: 150px;
        left: 20%;
        transform: translate(-20%);
        width: fit-content;
    }
    #container {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 450px;
        width: 90%;
    }
    .input-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        position: absolute;
        left: 25%;
        top: -4px;
    }
    .input {
        border-style: none;
        height: 40px;
        width: 40px;
        padding: 10px;
        outline: none;
        border-radius: 50%;
        transition: .5s ease-in-out;
        background-color: transparent;
        box-shadow: 0px 0px 3px transparent;
        padding-right: 40px;
        color: #020202;
      }
      .icon:focus ~ .input,
      .input:focus {
        box-shadow: none;
        width: 150px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 2px solid #020202;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
      #sugestoes {
        background-color: white;
      }
}
@media screen and (min-width:768px) and (max-width:1440px){
    #logo {
        position: fixed;
        left: 20%;
        transform: translate(-20%);
        top: 1px;
    }
    header {
        height: 42px;
        width: 714px;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 1%;
        background-color: transparent;
        transition: 2s;
        width: 99%;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: fixed;
        left: 82%;
        transform: translate(-82%);
        top: 7px;
    }
    #carrinho-vazio {
        height: 165px;
        width: 57%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 35px;
    }
    .icon:focus ~ .input,
    .input:focus {
      box-shadow: none;
      width: 150px;
      border-radius: 0px;
      background-color: transparent;
      border-bottom: 2px solid #020202;
      transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
}
@media screen and (min-width:1441px) and (max-width:1770px) {
    #logo {
        position: fixed;
        left: 28%;
        transform: translate(-28%);
        top: 1px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: fixed;
        left: 67%;
        transform: translate(-67%);
        top: 7px;
    }
}