@media screen and (min-width:320px) and (max-width:767px) {
    .logo-header > a > img {
        cursor: pointer;
        width: 35vw;
    }
    img#imgProd {
        position: relative;
        top: 340px;
        left: 15%;
        transform: translate(-15%);
        width: 295px;
    }    #container {
        position: absolute;
        top: 400px;
        display: flex;
        width: 96%;
    }
    #enviar-planilha {
        position: absolute;
        left: 60%;
        transform: translate(-60%);
        top: 395px;
    }
    #baixar-planilha > p {
        font-size: 20px;
        font-weight: 300;
        text-decoration: underline;
        color: #F37160;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 100px;
        transition: 0.8s;
        width: fit-content;
    }
}
@media screen and (min-width:1024px) and (max-width:1440px){
    span#quantidadeCarrinho {
        position: absolute;
        left: 111%;
        top: 8%;
        transform: translate(-111%);
        background: black;
        color: white;
        padding: 3px;
        font-size: 12px;
        border-radius: 51%;
        cursor: pointer;
    }
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 700px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -14%;
        top: -2px;
        width: 107px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
    #enviar-planilha {
        position: absolute;
        left: 60%;
        transform: translate(-60%);
        top: 65px;
        margin-left: 165px;
    }
    #baixar-planilha {
        position: absolute;
        left: 20%;
        transform: translate(-40%);
        top: 65px;
    }
}
@media screen and (min-width:1441px) and (max-width:1770px) {
    span#quantidadeCarrinho {
        position: absolute;
        left: 111%;
        top: 8%;
        transform: translate(-111%);
        background: black;
        color: white;
        padding: 3px;
        font-size: 12px;
        border-radius: 51%;
        cursor: pointer;
    }
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 700px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -14%;
        top: -2px;
        width: 107px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
}
@media screen and (min-width:2560px) {
    span#quantidadeCarrinho {
        position: absolute;
        left: 111%;
        top: 8%;
        transform: translate(-111%);
        background: black;
        color: white;
        padding: 3px;
        font-size: 12px;
        border-radius: 51%;
        cursor: pointer;
    }
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 1050px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -2%;
        top: -7px;
        width: 107px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
}