:root {
  --branco:#ffff;
  --coral:#F37160;
  --flamingo:#F69896;
  --concreto:#A7A9AC;
  --preto:#000000;
  --vermelho:#EF4126;
  --font-padrao:'Open Sans';
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: var(--font-padrao);
  background-color: #F5F5F7;
}
header {
  background-color: transparent;
  transition: 2s;
  width: 100%;
}
/*header.scrolled {
  position: fixed;
  top: 0%;
  transition: 2s;
  color: black;
  width: 100%;
  z-index: 1000;
  background-color: white;
  height: 40px;
}*/
header.scrolled > #nav-bar > li > a {
  color: #6E6E73;
}
header.scrolled > #nav-bar > li > a:hover {
  color: #020202;
}
#logo2 {
  display: none;
}
#logo {
  position: absolute;
  left: -3%;
  width: 12%;
  top: -11px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
#nav-bar {
  position: absolute;
  left: 50%;
  top: 15%;
  width: 54%;
  transform: translate(-50%);
}
#nav-bar > li {
  display: inline;
  position: relative;
  left: 10%;
  padding-right: 24px;
}
#nav-bar > li > a {
  font-weight: 500;
  font-size: 14px;
  color: #6E6E73;
}
#nav-bar > li > a:hover {
  transition: 1s;
  color: #000000;
}
#icone-pesquisa {
  width: 22px;
  height: 24px;
  position: fixed;
  left: 112%;
  transform: translate(-112%);
  top: 1px;
}
#carrinho-compras {
  width: 32px;
  height: 34px;
  position: fixed;
  left: 110%;
  transform: translate(-120%);
  top: -6px;
}
span#quantidadeCarrinho {
  position: absolute;
  left: 111%;
  transform: translate(-111%);
  background: black;
  color: white;
  padding: 3px;
  font-size: 12px;
  border-radius: 51%;
  cursor: pointer;
}
#menu-icon {
    display: none;
}
#fechar-menu {
    display: none;
    cursor: pointer;
}
main > h1 {
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    left: 15%;
    top: 80px;
}
#linhaHr {
    border: 1px solid black;
    width: 90vw;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%);
}
#linhaHrFin {
    border: 1px solid black;
    width: 90vw;
    position: absolute;
    top: 900px;
    left: 50%;
    transform: translate(-50%);
}
.logo-header {
  position: absolute;
  left: 49%;
  transform: translate( -50%); 
  width: fit-content;
  }
 .logo-header > a > img {
  cursor: pointer;
  width: 12vw;
  }
  .passosCompra  {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 10%;
}
.passosCompra > ul {
    list-style: none;
    display: flex;
}
.passosCompra > ul >  li {
    padding-right: 35px;
    text-align: center;
}
.circleactive {
    border: 1px solid #EF4126;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}
.circleactive > span {
    background-color: #EF4126;
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2px;
    padding: 10px;
    width: 44px;
    height: 44px;
    border-radius: 75%;
}   
.circlenonactive {
    border: 1px solid #C9C9C9;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}
.circlenonactive > span {
    background-color: white;
    color: #C9C9C9;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2px;
    padding: 10px;
    width: 44px;
    height: 44px;
    border-radius: 75%;
} 
main {
  position: relative;
  top: 95px;
}
main > h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    position: absolute;
    top: 150px;
    left: 20%;
    transform: translate(-20%);
}
main > p {
    line-height: 25px;
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    left: 20%;
    transform: translate(-20%);
    top: 230px;
}
#opcoesPagto {
    position: absolute;
    top: 350px;
    left: 25%;
    transform: translate(-25%);
}
.caixas {
    cursor: pointer;
    border: 1px solid #86868B;
    width: 502px;
    height: 96px;
    margin: 25px;
    border-radius: 5px;
    transition: 0.8s;
}
.caixas:hover {
    transition: 0.8s;
    box-shadow: 3px 2px 20px #F37160;
    border: 1px solid white;
}
#btnContPag {
    width: 295px;
    height: 51px;
    font-size: 17px;
    font-weight: 600;
    color: #EF4126;
    border: 1px solid #EF4126;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    left: 25%;
    transform: translate(-25%);
    top: 950px;
    transition: 0.8s;
}
#btnContPag:hover {
    transition: 0.8s;
    background-color: #EF4126;
    color: white;
}
svg.iconePagto {
    position: relative;
    left: 10%;
    transform: translate(-10%);
    top: 32px;
}
h2.tltPagto {
    font-weight: 700;
    font-size: 17px;
    position: relative;
    left: 27%;
    top: -15px;
    width: fit-content;
    transform: translate(-27%);
}
p.prgPagto {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    left: 50%;
    top: -10px;
    width: fit-content;
    transform: translate(-37%);
}
#resumoCompra {
    display: block;
    width: 620px;
    height: 271px;
    position: relative;
    top: 410px;
    left: 90%;
    transform: translate(-90%);
    padding: 15px;
}
.prResumo {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 20px;
}
#ladoDireito {
    width: 30%;
    height: 59px;
    position: relative;
    left: 100%;
    transform: translate(-100%);
    top: -131px;
}
span#totalDesconto {
    position: relative;
    top: -17px;
}
#totalComp {
    position: relative;
    top: 43px;
    font-size: 24px;
    font-weight: bold;
    left: -8px;
}
span#totalItens {
    position: relative;
    top: 22px;
    left: 0%;
}
.card {
    display: none;
    width: 500px;
    height: 645px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: absolute;
    left: -50%;
    transform: translate(-25%);
    top: -200px;
}
   
.shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
}   
#avisoUser {
    display: none;
}
#codigoPix {
  display: none;
}
#avisoNaoAutorizado {
  display: none;
}
#avisoEstorno {
  display: none;
}
#avisoCancelado {
  display: none;
}
#avisoAguardeCancelamento {
  display: none;
}
#avisoTransacaoErro {
  display: none;
}
#avisoFalhaTransacao {
  display: none;
}
.notifications-container {
    transition: 0.8s;
    width: 320px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    left: 90%;
    transform: translate(-90%);
    top: 10%;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .error-alert {
    border-radius: 0.375rem;
    padding: 1rem;
    background-color: rgb(254 242 242);
    border: 1px solid #f37160;
  }
  
  .error-svg {
    color: #F87171;
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .error-prompt-heading {
    color: #991B1B;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
  }
  
  .error-prompt-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
  }
  
  .error-prompt-wrap {
    margin-top: 0.5rem;
    color: #B91C1C;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .error-prompt-list {
    padding-left: 1.25rem;
    margin-top: 0.25rem;
    list-style-type: disc;
  }

  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .success {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(240 253 244);
    border: 1px solid rgb(22 101 52);
  }
  
  .succes-svg {
    color: rgb(74 222 128);
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .success-prompt-wrap {
    margin-left: 0.75rem;
  }
  
  .success-prompt-heading {
    font-weight: bold;
    color: rgb(22 101 52);
  }
  
  .success-prompt-prompt {
    margin-top: 0.5rem;
    color: rgb(21 128 61);
  }
  
  .success-button-container {
    display: flex;
    margin-top: 0.875rem;
    margin-bottom: -0.375rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .alert {
    background-color: rgb(254 252 232);
    border-left-width: 4px;
    border-color: rgb(250 204 21);
    border-radius: 0.375rem;
    padding: 1rem;
    border: 1px solid rgb(250 204 21);
  }
  
  .alert-svg {
    height: 1.25rem;
    width: 1.25rem;
    color: rgb(250 204 21);
  }
  
  .alert-prompt-wrap {
    margin-left: 0.75rem;
    color: rgb(202 138 4);
  }
  
  .alert-prompt-link {
    font-weight: 500;
    color: rgb(141, 56, 0);
    text-decoration: underline;
  }
  
  .alert-prompt-link:hover {
    color: rgb(202 138 4);
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    left: 25%;
    top: -10px;
  }
  
  .input {
    border-style: none;
    height: 40px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: transparent;
    box-shadow: 0px 0px 3px transparent;
    padding-right: 40px;
    color: #020202;
  }
  
  .input::placeholder,
  .input {
    font-size: 17px;
  }
  
  .input::placeholder {
    color: #8f8f8f;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
  }
  
  .icon:focus ~ .input,
  .input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 2px solid #020202;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  #sugestoes {
    display: none;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    overflow-y: auto;
    width: 250px;
    border-radius: 3px;
    position: absolute;
    top: 35px;
    left: 20%;
    transition: 0.8s;
    background-color: white;
    z-index: 1000; /* Valor alto para garantir sobreposição */
  }
  #sugestoes:hover {
    transition: 0.8s;  
    box-shadow: 1px 1px 4px black;  
  } 
  #sugestoes ul {
    list-style-type: none; /* Remova os marcadores de lista */
    padding: 0;
  }
  
  #sugestoes li {
    margin-bottom: 5px;
    cursor: pointer;
    border-bottom: 1px solid;
    height: 27px;
  }
  
  #sugestoes li:hover {
    background-color: #f0f0f0; /* Mude a cor de fundo ao passar o mouse sobre os itens */
  }
  #criacaoBoleto {
    display: none;
    width: 590px;
    height: 500px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
    border-radius: 0.5rem;
    position: absolute;
    left: -40%;
    transform: translate(-50%);
    top: -70px;
  }
  #pedidoCriado {
    display: none;
    width: 590px;
    height: 500px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
    border-radius: 0.5rem;
    position: absolute;
    left: -40%;
    transform: translate(-50%);
    top: -70px;
  }
  #faixa {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px 0px 0;
    border-radius: 5px 5px 0 0;
    padding: 40px;
}
.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2feee;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 9999px;
  animation: animate .6s linear alternate-reverse infinite;
  transition: .6s ease;
}
.image svg {
  color: #0afa2a;
  width: 3rem;
  height: 3rem;
}
.content {
  margin-top: 0.75rem;
  text-align: center;
}
.title {
  color: #066e29;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.message {
  margin-top: 0.5rem;
  color: #595b5f;
  font-size: 0.960rem;
  line-height: 1.25rem;
}
.image-content {
  width: 50%;
  position: relative;
  top: 50px;
}
@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}
#qrCodeContainer, #cartaoContainer {
  display: none;
  width: 590px;
  height: 500px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  border-radius: 0.5rem;
  position: absolute;
  left: -40%;
  transform: translate(-50%);
  top: -20%;
}
#qrCodeContainer > img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 50px;
}
#qrCodeContainer > button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 360px;
  padding: 22px 35px 22px 35px;
  font-size: 17px;
  color: white;
  background-color: #EF4126;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.8s;
  cursor: pointer;
}
#qrCodeContainer > button:hover {
  transition: 0.8s;
  background-color: white;
  color: #EF4126;
  border: 1px solid #EF4126;
}
#qrCodeContainer > p {
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 310px;
}
#boletoContainer {
  display: none;
  width: 590px;
  height: 500px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  border-radius: 0.5rem;
  position: absolute;
  left: -40%;
  transform: translate(-50%);
  top: -250px;
}
#boletoContainer > img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 50px;
}
#boletoContainer > a {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 360px;
  padding: 22px 35px 22px 35px;
  font-size: 17px;
  color: white;
  background-color: #EF4126;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.8s;
  cursor: pointer;
}
#boletoContainer > a:hover {
  transition: 0.8s;
  background-color: white;
  color: #EF4126;
  border: 1px solid #EF4126;
}
#boletoContainer > p {
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 310px;
  font-weight: 600;
  color: #F37160;
}
.modal {
  display: none;
  width: fit-content;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  max-width: 450px;
  position: absolute;
  left: -60%;
  transform: translate(-7%);
  top: -90px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.separator {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  color: #8B8E98;
  margin: 0 10px;
}

.separator > p {
  word-break: keep-all;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  margin: auto;
}

.separator .line {
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
  margin: auto;
}

.credit-card-info--form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.split {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 15px;
}

.split input {
  width: 100%;
}

.input_label {
  font-size: 15px;
  color: #8B8E98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  font-size: 17px;
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.purchase--btn {
  cursor: pointer;
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  background: #EF4126;
  box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 2px #F69896, 0px 0px 0px 4px #F37160;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 83%;
  transform: translate(-83%);
  top: 10px;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #EF4126;
  animation: tri-spinner 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: tri-spinner 2s infinite;
}

.spinner::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes tri-spinner {
  100% {
    transform: rotate(1turn);
  }
}

.loader {
  color: #4a4a4a;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #F37160;
  animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
div#carregamento {
  display: none;
  transition: 0.8s;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 440px;
  box-shadow: -2px 2px 12px black;
  border-radius: 5px;
  width: 475px;
  height: 140px;
  background-color: white;
  z-index: 1;
}
#fecharFormaPagamento1, #fecharFormaPagamento2, #fecharFormaPagamento3 {
  display: flex;
  justify-content: right;
}