@media screen and (min-width:320px) and (max-width:767px) {
    .logo-header > a > img {
        cursor: pointer;
        width: 35vw;
    }
    img#imgProd {
        position: relative;
        top: 340px;
        left: 15%;
        transform: translate(-15%);
        width: 295px;
    }
    .caixas {
        width: 94vw;
        position: relative;
        left: -2%;
        height: 150px;
    }
    p.prgPagto {
        width: 68%;
    }
    .caixas {
        width: 94vw;
        position: relative;
        left: -2%;
        height: 150px;
        display: inline-grid;
    }
    h2.tltPagto {
        font-weight: 700;
        font-size: 17px;
        position: relative;
        left: 45%;
        top: -15px;
        width: 28%;
        transform: translate(-45%);
    }
    #linhaHrFin {
        border: 1px solid black;
        width: 90vw;
        position: absolute;
        top: 1180px;
        left: 50%;
        transform: translate(-50%);
    }
    #btnContPag {
        width: 99vw;
        height: 51px;
        font-size: 17px;
        font-weight: 600;
        color: #EF4126;
        border: 1px solid #EF4126;
        background-color: white;
        cursor: pointer;
        border-radius: 5px;
        position: absolute;
        left: 25%;
        transform: translate(-25%);
        top: 1444px;
        transition: 0.8s;
    }
    #opcoesPagto {
        position: absolute;
        top: 350px;
        left: 20%;
        width: 100%;
    }
    main > p {
        line-height: 25px;
        font-size: 17px;
        font-weight: 400;
        position: absolute;
        left: 20%;
        transform: translate(-20%);
        top: 285px;
    }
    #resumoCompra {
        display: block;
        width: 100%;
        height: 200px;
        position: relative;
        top: 1280px;
        left: 90%;
        transform: translate(-90%);
        padding: 15px;
    }
    #totalComp {
        position: relative;
        top: 43px;
        font-size: 20px;
        font-weight: bold;
        left: -8px;
    }
    #qrCodeContainer {
        display: none;
        width: 98vw;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -586px;
    }
    #qrCodeContainer > button {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 360px;
        padding: 12px 25px 12px 25px;
        font-size: 17px;
        color: white;
        background-color: #EF4126;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        transition: 0.8s;
        cursor: pointer;
    }
    #pedidoCriado {
        display: none;
        width: 97vw;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -515px;
    }
    #criacaoBoleto {
        display: none;
        width: 97vw;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -515px;
    }
    #boletoContainer {
        display: none;
        width: 98vw;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -586px;
    }
    #boletoContainer > a {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 360px;
        padding: 12px 25px 12px 25px;
        font-size: 17px;
        color: white;
        background-color: #EF4126;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        transition: 0.8s;
        cursor: pointer;
    }
    .modal {
        display: none;
        width: 94vw;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 26px;
        max-width: 450px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -520px;
    }
    .notifications-container {
        transition: 0.8s;
        width: 320px;
        height: auto;
        font-size: 0.875rem;
        line-height: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: fixed;
        left: 90%;
        transform: translate(-90%);
        top: 5%;
    }
}
@media screen and (min-width:768px) and (max-width:1300px) {
    .logo-header > a > img {
        cursor: pointer;
        width: 35vw;
    }
    img#imgProd {
        position: relative;
        top: 340px;
        left: 15%;
        transform: translate(-15%);
        width: 295px;
    }
    .caixas {
        width: 94vw;
        position: relative;
        left: -2%;
        height: 150px;
    }
    p.prgPagto {
        width: 68%;
    }
    .caixas {
        width: 75%;
        position: relative;
        left: -2%;
        height: 150px;
        display: inline-grid;
    }
    h2.tltPagto {
        font-weight: 700;
        font-size: 17px;
        position: relative;
        left: 45%;
        top: -15px;
        width: 28%;
        transform: translate(-45%);
    }
    #linhaHrFin {
        border: 1px solid black;
        width: 90vw;
        position: absolute;
        top: 1180px;
        left: 50%;
        transform: translate(-50%);
    }
    #btnContPag {
        width: 99vw;
        height: 51px;
        font-size: 17px;
        font-weight: 600;
        color: #EF4126;
        border: 1px solid #EF4126;
        background-color: white;
        cursor: pointer;
        border-radius: 5px;
        position: absolute;
        left: 25%;
        transform: translate(-25%);
        top: 1444px;
        transition: 0.8s;
    }
    #opcoesPagto {
        position: absolute;
        top: 350px;
        left: 50%;
        width: 100%;
        transform: translate(-40%);
    }
    main > p {
        line-height: 25px;
        font-size: 17px;
        font-weight: 400;
        position: absolute;
        left: 20%;
        transform: translate(-20%);
        top: 285px;
    }
    #resumoCompra {
        display: block;
        width: 100%;
        height: 200px;
        position: relative;
        top: 1280px;
        left: 90%;
        transform: translate(-90%);
        padding: 15px;
    }
    #totalComp {
        position: relative;
        top: 43px;
        font-size: 20px;
        font-weight: bold;
        left: -8px;
    }
    #qrCodeContainer {
        display: none;
        width: 98vw;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -586px;
    }
    #qrCodeContainer > button {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 360px;
        padding: 12px 25px 12px 25px;
        font-size: 17px;
        color: white;
        background-color: #EF4126;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        transition: 0.8s;
        cursor: pointer;
    }
    #pedidoCriado {
        display: none;
        width: 97vw;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: 52%;
        /* transform: translate(-50%); */
        top: -645px;
    }
    #criacaoBoleto {
        display: none;
        width: 97vw;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: 52%;
        /* transform: translate(-50%); */
        top: -70px;
    }
    .image-content {
        width: 40%;
        position: relative;
        top: 50px;
    }
    #boletoContainer {
        display: none;
        width: 98vw;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -586px;
    }
    #boletoContainer > a {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 360px;
        padding: 12px 25px 12px 25px;
        font-size: 17px;
        color: white;
        background-color: #EF4126;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        transition: 0.8s;
        cursor: pointer;
    }
    .modal {
        display: none;
        width: 94vw;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 26px;
        max-width: 450px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -520px;
    }
}
@media screen and (min-width:1301px) and (max-width:1440px) {
    span#quantidadeCarrinho {
        position: absolute;
        left: 111%;
        transform: translate(-111%);
        background: black;
        color: white;
        padding: 3px;
        font-size: 12px;
        border-radius: 51%;
        cursor: pointer;
      }
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 700px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -14%;
        top: -2px;
        width: 107px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
    #carrinho-vazio {
        height: 165px;
        width: 57%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 35px;
    }
    #resumoCompra {
        display: block;
        height: 200px;
        position: relative;
        top: 1015px;
        left: 50%;
        transform: translate(-50%);
        padding: 15px;
    }
    #btnContPag {
        width: 295px;
        height: 51px;
        font-size: 17px;
        font-weight: 600;
        color: #EF4126;
        border: 1px solid #EF4126;
        background-color: white;
        cursor: pointer;
        border-radius: 5px;
        position: absolute;
        left: 25%;
        transform: translate(-25%);
        top: 1160px;
        transition: 0.8s;
    }
    #qrCodeContainer {
        display: none;
        width: 590px;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -567px;
    }
    #pedidoCriado {
        display: none;
        width: 590px;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -585px;
    }
    #criacaoBoleto {
        display: none;
        width: 590px;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -585px;
    }
    #boletoContainer {
        display: none;
        width: 590px;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -567px;
    }
    .modal {
        display: none;
        width: 94vw;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 26px;
        max-width: 450px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -440px;
    }
}
@media screen and (min-width:1441px) and (max-width:1789px) {
    span#quantidadeCarrinho {
        position: absolute;
        left: 111%;
        transform: translate(-111%);
        background: black;
        color: white;
        padding: 3px;
        font-size: 12px;
        border-radius: 51%;
        cursor: pointer;
      }
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 1050px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -2%;
        top: -7px;
        width: 107px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
}
@media screen and (min-width:2560px) {
    span#quantidadeCarrinho {
        position: absolute;
        left: 111%;
        transform: translate(-111%);
        background: black;
        color: white;
        padding: 3px;
        font-size: 12px;
        border-radius: 51%;
        cursor: pointer;
      }
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 1050px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -2%;
        top: -7px;
        width: 107px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
    .modal {
        display: none;
        width: fit-content;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 26px;
        max-width: 450px;
        position: absolute;
        left: -100%;
        /* transform: translate(-110%); */
        top: -90px;
    }
    #pedidoCriado {
        display: none;
        width: 590px;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: -125%;
        /* transform: translate(-50%); */
        top: -70px;
    }   
    #criacaoBoleto {
        display: none;
        width: 590px;
        height: 500px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: -125%;
        /* transform: translate(-50%); */
        top: -70px;
    }
}