@media screen and (min-width:320px) and (max-width:767px){
    .popup {
        display: none;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 70%;
        width: 90vw;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 13px;
    }
    header {
        z-index: 999;
        position: absolute;
        width: 99%;
        left: 0%;
    }
    .mainContentHeader {
        position: absolute;
        height: 600px;
        width: 100%;
        z-index: -1;
    }
       .messageHeader {
        position: relative;
        left: 42%;
        top: 65px;
        width: fit-content;
        transform: translate(-42%);
    }
    li > a {
        text-decoration: none;
        color: #555555;
        padding: 5px;
        transition: 0.8s;
    }
    .linksHeader {
        width: fit-content;
        position: relative;
        left: 70%;
        top: 0;
    }
    .linksHeader > ul > li {
        padding-right: 0px;
    }
    .notCad > p {
        font-weight: 300;
        font-size: 12px;
    }
    .notCad > p > a {
        font-weight: 300;
        font-size: 12px;
        text-decoration: underline;
    }
    .icons-mediaHeader {
        display: none;
    }
    .logo-header {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 30px;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 65%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    .notCad {
        width: fit-content;
        position: relative;
        left: 30%;
        top: 50px;
    }
    .notCad > a {
        font-weight: 300;
        font-size: 12px;
    }
    .carrinho {
        width: fit-content;
        position: relative;
        left: 70%;
        top: 20px;
    }
    .mobile-menu {display: block;}
    .linhaAbInp {display: none;}
    .linhaAbNav {display: none;}
    .menu {
        display: none;
    }
    .menu-wrapper {
        display: block;
    }
    #iconMenuMob {
        display: none;
        position: absolute;
        top: 11%;
        left: 95%;
        transform: translate(-95%);
        font-size: 28px;
    }
    .search-input {
        position: absolute;
        left: 45%;
        transform: translate(-45%);
        top: 45%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }
    div#suggestions-container {
        display: none;
        background-color: white;
        width: 70vw;
        box-shadow: -1px -1px 3px black;
        height: auto;
        z-index: 1;
        position: relative;
        top: -40px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;
        padding: 20px;
        max-height: 455px;
        overflow-y: auto;
    }
    .search-input > input {
        border: 1px solid #A8A8A8;
        background-color: transparent;
        width: 80vw;
        padding: 15px;
        border-radius: 30px;
    }
    .search-input > button {
        background-color: transparent;
        display: block;
        position: relative;
        left: 85%;
        top: -22px;
    }
    #wrapper {
        width: 220px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 200px;
    }
    #prev {
        top: 85%;
        left: -50px;
        transform: translate(50%, -50%);
    }
    #next {
        top: 85%;
        right: 19px;
        transform: translate(50%, -50%);
    }
    #nav-bar {
        display: none;
        width: 80%;
        padding: 15px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 5px;
        box-shadow: -1px -3px 20px black;
        border-radius: 5px;
        height: 715px;
        opacity: 0;
        z-index: 1000;
        background-color: white;
    }
    #nav-bar > li {
        display: block;
        padding-top: 14px;
        position: relative;
        top: 65px;
    }
    #nav-bar > li > a  {
        font-size: 28px;
    }
    #fechar-menu {
        display: none;
        cursor: pointer;
        width: fit-content;
        font-size: 40px;
        position: absolute;
        left: 72%;
    }
    #menu-icon {
        display: block;
        position: absolute;
        left: 100%;
        transform: translate(-100%);
        top: -10%;
    }
    #logo {
        display: none;
    }    
    #logo2 {
        display: block;
        position: absolute;
        left: 0%;
        transform: translate(-5%);
        top: -3px;
        width: 23%;
    }
    #icone-pesquisa {
        width: 34px;
        height: 36px;
        position: absolute;
        left: 30%;
        transform: translate(-30%);
        top: 33px;
    }
    #carrinho-compras {
        width: 44px;
        height: 46px;
        position: absolute;
        left: 33%;
        transform: translate(-120%);
        top: 6%;
    }
    #banners{display: none;}
    #progress{display: none;}
    main {
        width: 95%; /* Aumenta a largura do main para telas pequenas */
        padding: 10px; /* Ajusta o padding */
        top: 90%;
      }
    
      #novidades > h2 {
        font-size: 24px; /* Ajusta o tamanho da fonte do título */
        left: 5%; /* Ajusta a posição */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 10px;
      }
    
      .contentImagesNovidades {
        flex-direction: column; /* Alinha as caixas verticalmente */
        align-items: center; /* Centraliza horizontalmente */
      }
    
      .box {
        width: 90%; /* Ajusta a largura das caixas */
        height: auto; /* Permite que a altura se ajuste ao conteúdo */
        margin: 10px 0; /* Ajusta a margem */
      }
    
      #motivosCompra > h2 {
        font-size: 24px; /* Ajusta o tamanho do título */
        text-align: center; /* Centraliza o texto */
      }
    
      .contentMotivos {
        flex-direction: column; /* Alinha os motivos verticalmente */
        align-items: center; /* Centraliza horizontalmente */
      }
    
      .motivos {
        width: 80%; /* Ajusta a largura das divs de motivos */
        height: 90%;
        padding: 15px;
        margin: 10px 0; /* Ajusta a margem */
      }
    
      .motivos > img {
        width: 20%;
      }

      #linksRapidos {
        width: 90%; /* Aumenta a largura da seção de links */
        margin: 0 auto; /* Centraliza a seção na tela */
      }
    
      #linksRapidos > h2 {
        font-size: 20px; /* Ajusta o tamanho do título dos links */
        text-align: center; /* Centraliza o texto */
      }
    
      .links {
        width: 95%;
        margin: 10px;
        padding: 10px;
    }
    
      .links > h3 {
        font-size: 14px; /* Ajusta o tamanho da fonte dos links */
        text-align: center; /* Centraliza o texto */
      }
      .contentFooter {
        height: 700px;
        background-color: #2B2B2B;
        position: relative;
        top: 20px;
        left: 50%;
        transform: translate(-50%);
        width: 105vw;
      }
      footer > a {
        color: white;
        font-size: 12px;
        transition: 1s;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 92%;
      }
    #institucional {
        width: fit-content;
        position: relative;
        left: 0%;
        top: 30px;
    }
    #redesSociais {
        width: fit-content;
        position: relative;
        left: 0%;
        top: -10px;
    }
    #formasDePagamento {
        width: fit-content;
        position: relative;
        left: 0%;
        top: 200px;
    }
    #canaisAtendimento {
        width: fit-content;
        position: relative;
        left: 4%;
        top: 55px;
    }
    #siteSeguro {
        width: fit-content;
        position: relative;
        left: 10%;
        top: 230px;
    }
    #prevButton {
        cursor: pointer;
        width: 5%;
        height: 70px;
        border-radius: 100%;
        background-color: #78777769;
        font-size: 48px;
        border: 0;
        position: absolute;
        left: -3%;
        top: 30%;
        z-index: 1;
    }
    #nextButton {
        cursor: pointer;
        width: 5%;
        height: 70px;
        border-radius: 100%;
        background-color: #78777769;
        font-size: 48px;
        border: 0;
        position: absolute;
        left: 50%;
        top: 30%;
        z-index: 1;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    #novidades-container {
        overflow-x: hidden;
        white-space: nowrap;
    }
      #cx5 {
        display: none;
      }
      #cx6 {
        display: none;
      }
      .carousel-item > a > h2 {
        width: 0%;
        position: relative;
        left: 35%;
    }
    footer {
        height: 85vh;
        /* padding: 15px; */
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .mainContentHeader {
        position: absolute;
        height: 460px;
        width: 100%;
        z-index: -1;
    }
    div#banners {
        height: 165px;
        position: relative;
        top: 300px;
        width: 65%;
        left: 18%;
        cursor: pointer;
    }
    .banner.active > img {
        width: 100%;
    }
    .menu {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .btnsMenu {
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: 45%;
        z-index: 9999;
        transform: translate(-50%);
    }
    .menu-wrapper {
        z-index: 1;
        display: block;
        top: 42%;
    }
    .linhaAbInp {
        border: 1px solid #e0e0e0;
        width: 70vw;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 44%;
    }
    .linhaAbNav {
        border: 1px solid #e0e0e0;
        width: 70vw;
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%);
    }
        .messageHeader {
        position: absolute;
        left: 4%;
        top: 18%;
        width: fit-content;
    }
    .linksHeader {
        width: fit-content;
        position: absolute;
        left: 60%;
        transform: translate(-60%);
        top: 15%;
    }
    .icons-mediaHeader {
        width: fit-content;
        position: absolute;
        left: 85%;
        transform: translate(-85%);
        top: 15%;
    }
        .logo-header {
        position: absolute;
        left: 0%;
        transform: translate(0%);
        top: 25%;
        width: fit-content;
    
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 65%;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 30%;
        width: fit-content;
        height: auto;
        z-index: 10;
    }
    .search-input > button {
        background-color: transparent;
        display: block;
        position: relative;
        left: 85%;
        top: -22px;
    }
    .notCad {
        width: 20%;
        position: absolute;
        left: 89%;
        transform: translate(-89%);
        top: 30%;
    }
    .carrinho {
        width: 6%;
        position: absolute;
        left: 95%;
        transform: translate(-85%);
        top: 30%;
    }
    #banners > #nextBtn1 {
        right: -125px;
    }
    #wrapper {
        width: 100%;
        max-width: 452px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 435px;
        cursor: pointer;
    }
    footer {
        position: absolute;
        top: 388%;
        width: 100%;
        height: 610px;
        background-color: #2B2B2B;
        border: 1px solid;
        padding: 15px;
    }
    #institucional {
        width: fit-content;
        position: relative;
        left: 0%;
        top: 70px;
    }
    #formasDePagamento {
        width: fit-content;
        position: relative;
        left: 0%;
        top: 170px;
    }
    .popup {
        display: none;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 70%;
        width: 50%;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 13px;
    }
    main {
        position: absolute;
        top: 107%;
        width: 100%;
        height: 100%;
        padding: 15pc;
        padding-top: 70px;
    }
}
@media screen and (min-width:1025px) and (max-width:1300px) {  
    .popup {
        display: none;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 50%;
        width: 50%;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 13px;
    }
    .mainContentHeader {
        position: absolute;
        height: 460px;
        width: 100%;
        z-index: -1;
    }
    div#banners {
        height: 165px;
        position: relative;
        top: 300px;
        width: 65%;
        left: 18%;
        cursor: pointer;
    }
    .banner.active > img {
        width: 100%;
    }
    .menu {
        left: 50%;
        transform: translate(-50%);
        width: 91%;
        top: 45%;
        z-index: 1;
    }
    .menu-wrapper {
        z-index: 1;
        display: block;
        top: 42%;
    }
    .linhaAbInp {
        border: 1px solid #e0e0e0;
        width: 70vw;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 44%;
    }
    .linhaAbNav {
        border: 1px solid #e0e0e0;
        width: 70vw;
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%);
    }
    .messageHeader {
       position: absolute;
        left: 9%;
        top: 18%;
        width: fit-content;
    }
    .linksHeader {
        width: fit-content;
        position: absolute;
        left: 60%;
        transform: translate(-60%);
        top: 15%;
    }
    .icons-mediaHeader {
        width: fit-content;
        position: absolute;
        left: 85%;
        transform: translate(-85%);
        top: 15%;
    }
    .logo-header {
                position: absolute;
        left: 7%;
        transform: translate(0%);
        top: 25%;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 65%;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 30%;
        width: fit-content;
        height: auto;
        z-index: 10;
    }
    .search-input > button {
        background-color: transparent;
        display: block;
        position: relative;
        left: 85%;
        top: -22px;
    }
    .mobile-menu {display: none;}
    .linhaAbInp {display: block;}
    .linhaAbNav {display: block;}
    .notCad {
        width: fit-content;
        position: absolute;
        left: 85%;
        transform: translate(-85%);
        top: 30%;
    }
    .carrinho {
        width: 6%;
        position: absolute;
        left: 95%;
        transform: translate(-85%);
        top: 30%;
    }
    #banners > #nextBtn1 {
        right: -125px;
    }
    #wrapper {
        width: 100%;
        max-width: 676px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 435px;
        cursor: pointer;
    }
    .contentFooter {
        height: 490px;
        background-color: #2B2B2B;
        position: relative;
        top: 20px;
        left: 49%;
        transform: translate(-50%);
        width: 101vw;
    }
    footer > a {
        color: white;
        font-size: 12px;
        position: absolute;
        transition: 1s;
        position: relative;
        left: 40%;
        top: 8%;
    }
    #institucional {
        width: 30%;
        position: relative;
        left: 10%;
        top: 70px;
    }
}
@media screen and (min-width:1301px) and (max-width:1440px) {
    .popup {
        display: none;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 50%;
        width: 50%;
        height: fit-content;
        background: #FFFFFF;
        box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 13px;
    }
    .logo-header {
        position: absolute;
        left: 17%;
        transform: translate(-17%);
        top: 14%;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 56%;
    }

    .messageHeader {
    position: absolute;
    left: 188px;
    top: 10%;
    width: fit-content;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-55%);
        top: 16%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }
    .mainContentHeader {
        position: absolute;
        height: 65vw;
        width: 100%;
        z-index: -1;
    }
    div#suggestions-container {
        display: none;
        background-color: white;
        width: 35vw;
        box-shadow: -1px -1px 3px black;
        height: auto;
        z-index: 1;
        position: relative;
        top: 35px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;
        padding: 20px;
        max-height: 455px;
        overflow-y: auto;
    }
    .search-input > button {
        background-color: transparent;
        display: block;
        position: relative;
        left: 90%;
        top: -22px;
    }
    .notCad {
        width: fit-content;
        position: absolute;
        left: 80%;
        transform: translate(-80%);
        top: 16%;
    }
    .menu {
        position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    top: 26%;
    z-index: 1;

    }
    .carrinho {
        width: fit-content;
        position: absolute;
        left: 90%;
        transform: translate(-90%);
        top: 16%;
    }
    #nav-bar {
        position: absolute;
        left: 50%;
        top: 25%;
        width: 700px;
        transform: translate(-50%);
    }
    #wrapper {
        width: 100%;
        max-width: 900px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 400px;
    }
    #prev {
        top: 65%;
        left: -100px;
        transform: translate(50%, -50%);
    }
    #next {
        top: 65%;
        right: -100px;
        transform: translate(-50%, -50%);
    }
    div#banners {
        height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 846px;
        cursor: pointer;
    }
    .banner.active > img {
        width: 900px;
    }
    #banners > #prevBtn1 {
        left: -215px;
    }
    #banners > #nextBtn1 {
        right: -215px;
    }
    #progress {
        display: flex;
        position: absolute;
        top: 105%;
    }
    .linhaAbInp {
        border: 1px solid #e0e0e0;
        width: 90vw;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 24%;
    }
    .linhaAbNav {
        border: 1px solid #e0e0e0;
        width: 90vw;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%);
    }
    main {
        position: absolute;
        top: 170%;
        width: 100%;
        height: 100%;
        padding: 15pc;
        padding-top: 70px;
    }
    .contentImagesNovidades {
        width: 1300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .box {
        display: inline-flex;
        box-shadow: -1px -1px 8px #434344;
        border-radius: 11px;
        width: 350px;
        height: 456px;
        transition: transform 0.8s;
        margin: 25px;
        cursor: pointer;
    }
    footer.modern-footer {
        background: none;
        color: #fff;
        padding: 50px 20px;
    }
    .contentFooter {
        height: 520px;
        background-color: #2B2B2B;
        position: relative;
        top: 20px;
        left: 49%;
        transform: translate(-50%);
        width: 100vw;
    }
    footer > a {
        color: white;
        font-size: 12px;
        position: absolute;
        transition: 1s;
        position: relative;
        left: 40%;
        top: 8%;
    }
    #institucional {
        width: 30%;
        position: relative;
        left: 10%;
        top: 70px;
    }
}
@media screen and (min-width:1441px) and (max-width:1635px) {
    .mainContentHeader {
        position: absolute;
        height: 28vw;
        width: 100%;
        z-index: -1;
    }

    .linksHeader {
    width: fit-content;
    position: absolute;
    left: 60%;
    transform: translate(-60%);
    top: 20%;
}
.icons-mediaHeader {
    width: fit-content;
    position: absolute;
    left: 75%;
    transform: translate(-75%);
    top: 20%;
}
    .messageHeader {
        position: absolute;
        left: 200px;
        top: 22%;
        width: fit-content;
    }
    .logo-header {
                position: absolute;
        left: 17%;
        transform: translate(-17%);
        top: 28%;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 56%;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-55%);
        top: 30%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }
    .notCad {
        width: fit-content;
        position: absolute;
        left: 80%;
        transform: translate(-80%);
        top: 30%;
    }
    .carrinho {
        width: fit-content;
        position: absolute;
        left: 90%;
        transform: translate(-90%);
        top: 32%;
    }
    #nav-bar {
        position: absolute;
        left: 50%;
        top: 25%;
        width: 700px;
        transform: translate(-50%);
    }
    .linhaAbInp {
    top: 25%;
    border: 1px solid #e0e0e0;
    width: 70vw;
    position: absolute;
    left: 50%;
    top: 0%;
    top: 46%;
}

.linhaAbNav {
    border: 1px solid #e0e0e0;
    width: 70vw;
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%);
}

.menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    top: 50%;
    z-index: 1;
}

    #wrapper {
        width: 100%;
        max-width: 900px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 340px;
    }
    #prev {
        top: 65%;
        left: -100px;
        transform: translate(50%, -50%);
    }
    #next {
        top: 65%;
        right: -100px;
        transform: translate(-50%, -50%);
    }
    div#banners {
        height: 270px;
        position: relative;
        top: 235px;
        width: 846px;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%);
    }
    .banner.active > img {
        width: 100%;
    }
    #banners > #prevBtn1 {
        left: -56px;
    }
    #banners > #nextBtn1 {
        right: -56px;
    }
    #progress {
        display: flex;
        justify-content: center;
    }
    .contentImagesNovidades {
        width: 1300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .box {
        display: inline-flex;
        box-shadow: -1px -1px 8px #434344;
        border-radius: 11px;
        width: 350px;
        height: 456px;
        transition: transform 0.8s;
        margin: 25px;
        cursor: pointer;
    }
    .contentFooter {
        height: 490px;
        background: linear-gradient(135deg, #222, #444) ;
        position: relative;
        top: 20px;
        left: 49%;
        transform: translate(-50%);
        width: 101vw;
    }
    footer > a {
        color: white;
        font-size: 12px;
        position: absolute;
        transition: 1s;
        position: relative;
        left: 40%;
        top: 8%;
    }
    #institucional {
        width: 30%;
        position: relative;
        left: 10%;
        top: 70px;
    }
}
@media screen and (min-width:1636px) and (max-width:1789px) {
    .messageHeader {
    position: absolute;
    left: 14%;
    top: 11%;
    width: fit-content;
}
    .logo-header {
        position: absolute;
        left: 17%;
        transform: translate(-17%);
        top: 14%;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 56%;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-55%);
        top: 16%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }
    .notCad {
        width: fit-content;
        position: absolute;
        left: 80%;
        transform: translate(-80%);
        top: 16%;
    }
    .carrinho {
        width: fit-content;
        position: absolute;
        left: 90%;
        transform: translate(-90%);
        top: 16%;
    }
    #nav-bar {
        position: absolute;
        left: 50%;
        top: 26%;
        width: 70%;
        transform: translate(-50%);
    }
    #wrapper {
        width: 100%;
        max-width: 900px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 340px;
    }
    #prev {
        top: 65%;
        left: -100px;
        transform: translate(50%, -50%);
    }
    #next {
        top: 65%;
        right: -100px;
        transform: translate(-50%, -50%);
    }
    div#banners {
        height: 270px;
        position: relative;
        top: 235px;
        width: 846px;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%);
    }
    .banner.active > img {
        width: 100%;
    }
    #banners > #prevBtn1 {
        left: -56px;
    }
    #banners > #nextBtn1 {
        right: -56px;
    }
    #progress {
        display: flex;
        justify-content: center;
    }
    .contentImagesNovidades {
        width: 1300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .box {
        display: inline-flex;
        box-shadow: -1px -1px 8px #434344;
        border-radius: 11px;
        width: 350px;
        height: 456px;
        transition: transform 0.8s;
        margin: 25px;
        cursor: pointer;
    }
    #institucional {
        width: 30%;
        position: relative;
        left: 10%;
        top: 70px;
    }
    footer {
        height: 30vw;
    }
}
@media screen and (min-width:2100px) {
    
    div#banners {
        height: 370px;
        position: relative;
        top: 250px;
        width: 1200px;
        left: 50%;
        transform: translate(-50%);
        cursor: pointer;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 10vw;
    }
    .mainContentHeader {
        position: absolute;
        height: 30vw;
        width: 100%;
        z-index: -1;
    }
    main {
        top: 120%;
        width: 100%; /* Aumenta a largura do main */
        margin: 0 auto; /* Centraliza o main na tela */
      }
    
      #novidades > h2 {
        font-size: 40px; /* Aumenta o tamanho da fonte do título */
      }
      .contentImagesNovidades {
        width: 99%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
      .box {
        width: 440px; /* Aumenta a largura das caixas */
        height: 500px; /* Aumenta a altura das caixas */
        margin: 40px; /* Ajusta a margem */
      }
    
      #motivosCompra > h2 {
        font-size: 40px; /* Aumenta o tamanho do título */
      }
    
      .motivos {
        width: 350px; /* Aumenta a largura das divs de motivos */
        max-width: 350px; /* Mantém a largura máxima */
      }
    
      #linksRapidos {
        margin-top: 30px;
        width: 50vw; /* Aumenta a largura da seção de links */
      }
    
      #linksRapidos > h2 {
        font-size: 32px; /* Aumenta o tamanho do título dos links */
      }
    
      .links > h3 {
        font-size: 20px; /* Aumenta o tamanho da fonte dos links */
      }
      footer {
        height: 60vh;
      }
}