@media screen and (min-width:320px) and (max-width:863px){
    header {
        z-index: 999;
        position: absolute;
        width: 99%;
        left: 50%;
    }
    header.scrolled {
        position: inherit;
        top: 0%;
        border-bottom: 0px solid transparent;
        color: white;
        width: 0%;
        z-index: -1;
    }
    div#lg {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0%;
        top: 0px;
        z-index: 999;
    }
    #nav-bar {
        display: none;
        width: 80%;
        padding: 15px;
        position: absolute;
        left: 60%;
        top: 5px;
        box-shadow: -1px -3px 20px black;
        border-radius: 5px;
        height: 495px;
        opacity: 0;
        z-index: 1000;
        background-color: white;
    }
    #nav-bar > li {
        display: block;
        padding-top: 14px;
        position: relative;
        top: 65px;
    }
    #nav-bar > li > a  {
        font-size: 28px;
    }
    #fechar-menu {
        display: none;
        cursor: pointer;
        width: fit-content;
        font-size: 40px;
        position: absolute;
        left: 72%;
    }
    #menu-icon {
        display: block;
        position: absolute;
        left: 100%;
        transform: translate(-100%);
        top: -10%;
    }
    #logo {
        display: none;
    }    
    #logo2 {
        display: block;
        position: absolute;
        left: 0%;
        transform: translate(-5%);
        top: -3px;
        width: 23%;
    }
    #icone-pesquisa {
        width: 34px;
        height: 36px;
        position: absolute;
        left: 30%;
        transform: translate(-30%);
        top: 33px;
    }
    #carrinho-compras {
        width: 44px;
        height: 46px;
        position: absolute;
        left: 33%;
        transform: translate(-120%);
        top: 6%;
    }
    #prods-header {
        z-index: -1;
        width: 100%;
        height: 418px;
        position: absolute;
        top: 46%;
        left: -10%;
    }
    footer {
        position: absolute;
        top: 230%;
        width: 71%;
        height: 25px;
        left: 54%;
        transform: translate(-50%);
        height: 30px;
    } 
    footer > a {
        font-size: 17px;
    }
    #linksRapidos {
        position: absolute;
        top: 205%;
        width: 100%;
        height: 108px;
        padding: 0px;
        left: 20%;
    }
    #linksRapidos > h2 {
        font-size: 36px;
        position: relative;
        left: 12%;
        width: 57%;
    }
    #meus-pedidos {
        position: relative;
        top: 15px;
        width: 45vw;
    }
    #meus-pedidos > h3 {
        font-size: 20px;
    }
    #minha-carteira {
        position: relative;
        top: -32px;
        left: 57%;
        width: 45vw;
    }
    #minha-carteira > h3 {
        font-size: 20px;
    }
    #meu-perfil {
        position: relative;
        top: -20px;
        left: 32%;
        width: 45vw;
    }    
    #meu-perfil > h3 {
        font-size: 20px;
    }
    #mot1 {
        width: 250px;
        height: 194px;
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        transition: 1s;
        left: 13%;
    }
    #mot2 {
        width: 250px;
        height: 194px;
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        position: absolute;
        top: 117%;
        left: 13%;
        transition: 1s;
    }
    #mot3 {
        width: 250px;
        height: 194px;
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        position: absolute;
        top: 184%;
        left: 13%;
        transition: 1s;
    }
    #motivosCompra {
        width: 100%;
        height: 315px;
        position: absolute;
        top: 145%;
        padding: 15px;
        left: 50%;
        transform: translate(-50%);
    }
    #motivosCompra > h2 {
        font-size: 27px;
        font-weight: 600;
        color: #A7A9AC;
        width: 100%;
    }
    #novidades > h2 {
        font-size: 28px;
        font-weight: 600;
        color: #A7A9AC;
        width: fit-content;
        position: absolute;
        left: 3%;
        width: 92%;
    }
    #prevButton {
        cursor: pointer;
        width: 5%;
        height: 70px;
        border-radius: 100%;
        background-color: #78777769;
        font-size: 48px;
        border: 0;
        position: absolute;
        left: -3%;
        top: 30%;
        z-index: 1;
    }
    #nextButton {
        cursor: pointer;
        width: 5%;
        height: 70px;
        border-radius: 100%;
        background-color: #78777769;
        font-size: 48px;
        border: 0;
        position: absolute;
        left: 50%;
        top: 30%;
        z-index: 1;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    #novidades-container {
        overflow-x: hidden;
        white-space: nowrap;
    }
    #sec-header {
        width: 94vw;
        height: 342px;
        position: absolute;
        left: 50%;
        top: 16%;
        transform: translate(-50%);
    }
    #prod1 {
        cursor: pointer;
        width: 179px;
        height: 129px;
        position: absolute;
        top: 30px;
        left: 4%;
    }
    #prod3 {
        cursor: pointer;
        width: 179px;
        height: 129px;
        position: absolute;
        top: 50%;
        left: 5%;
    }
    #prod4 {
        cursor: pointer;
        width: 179px;
        height: 129px;
        position: absolute;
        top: 50%;
        left: 60%;
    }
    #sec-header > h1 {
        font-weight: lighter;
        font-size: 43px;
        color: #020202;
        line-height: 62px;
    }
    #prod1 > h2 {
        font-weight: 600;
        font-size: 12px;
        position: absolute;
        left: 17%;
        transform: translate(-6%);
    }
    #prod2 > h2 {
        font-weight: 600;
        font-size: 12px;
        position: absolute;
        left: 17%;
        transform: translate(-6%);
    }
    #prod2 {
        cursor: pointer;
        width: 179px;
        height: 129px;
        position: absolute;
        top: 20px;
        left: 60%;
    }
    #prod3 > h2 {
        font-weight: 600;
        font-size: 12px;
        position: absolute;
        left: 20%;
        transform: translate(-10%);
    }
    #prod4 > h2 {
        width: max-content;
        font-weight: 600;
        font-size: 12px;
        position: absolute;
        left: 10%;
        transform: translate(-10%);
    }
    #cx1 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 96vw;
        height: 456px;
        position: absolute;
        top: 12%;
        left: -5%;
        transition: transform 0.8s;
    }
    #cx2 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 96vw;
        height: 456px;
        position: absolute;
        top: 58%;
        left: -5%;
        transition: transform 0.8s;
    }
    #cx3 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 96vw;
        height: 456px;
        position: absolute;
        top: 104%;
        left: 1%;
        transition: transform 0.8s;
        overflow-x: hidden;
        transform: translate(-7%);
    }
    #cx4 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 96vw;
        height: 456px;
        position: absolute;
        top: 150%;
        left: -5%;
        transition: transform 0.8s;
        overflow-x: hidden;
    }
    main {
        position: relative;
        top: 700px;
        width: 100%;
        height: 1550px;
        left: 5%;
        padding: 15px;
    }
    .input-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        position: absolute;
        left: 25%;
        top: -4px;
    }
    .input {
        border-style: none;
        height: 40px;
        width: 40px;
        padding: 10px;
        outline: none;
        border-radius: 50%;
        transition: .5s ease-in-out;
        background-color: transparent;
        box-shadow: 0px 0px 3px transparent;
        padding-right: 40px;
        color: #020202;
      }
      .icon:focus ~ .input,
      .input:focus {
        box-shadow: none;
        width: 150px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 2px solid #020202;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
      #sugestoes {
        background-color: white;
      }
      #novidades {
        position: relative;
        left: -25px;
        width: 120%;
      }
}
@media screen and (min-width:1024px) and (max-width:1300px) {   
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 568px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -14%;
        top: -10px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
    #sec-header {
        width: 712px;
        height: 342px;
        position: absolute;
        left: 50%;
        top: 16%;
        transform: translate(-50%);
    }
    main {
        position: relative;
        top: 700px;
        width: 812px;
        height: 1109px;
        left: 18%;
        padding: 15px;
    }
    #sec-header > h1 {
        font-weight: lighter;
        font-size: 49px;
        color: #020202;
        line-height: 62px;
        width: 49%;
        position: absolute;
        left: -10%;
    }
    #prods-header {
        width: 849px;
        height: 184px;
        position: absolute;
        top: 46%;
        left: -17%;
    }
    #novidades {
        position: absolute;
        left: 50%;
        height: 1095px;
        width: 100%;
        transform: translate(-50%);
    }
    #novidades > h2 {
        font-size: 28px;
        font-weight: 600;
        color: #A7A9AC;
        position: absolute;
        left: -11%;
    }
    #cx1 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 3%;
        transition: transform 0.8s;
    }
    #cx2 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 53%;
        transition: transform 0.8s;
    }    
    #cx3 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 6%;
        transition: transform 0.8s;
        overflow-x: hidden;
        transform: translate(-7%);
    }
    #cx4 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 53%;
        transition: transform 0.8s;
        overflow-x: hidden;
    }
    #motivosCompra {
        width: 1050px;
        height: 313px;
        position: absolute;
        top: 105%;
        padding: 15px;
        left: 50%;
        transform: translate(-50%);
    }
    #linksRapidos {
        position: absolute;
        top: 140%;
        width: 420px;
        height: 108px;
        padding: 10px;
        left: 30%;
        transform: translate(-30%);
    }
    #linksRapidos > h2 {
        font-size: 28px;
        font-weight: 600;
    }
    footer {
        position: absolute;
        top: 165%;
        width: 40%;
        height: 25px;
        left: 50%;
        transform: translate(-50%);
    }
}
@media screen and (min-width:1301px) and (max-width:1440px) {
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 568px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -14%;
        top: -10px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
    #sec-header {
        width: 712px;
        height: 342px;
        position: absolute;
        left: 50%;
        top: 16%;
        transform: translate(-50%);
    }
    main {
        position: relative;
        top: 700px;
        width: 812px;
        height: 1109px;
        left: 18%;
        padding: 15px;
    }
    #sec-header > h1 {
        font-weight: lighter;
        font-size: 49px;
        color: #020202;
        line-height: 62px;
        width: 49%;
        position: absolute;
        left: -10%;
    }
    #prods-header {
        width: 849px;
        height: 184px;
        position: absolute;
        top: 46%;
        left: -17%;
    }
    #novidades {
        position: absolute;
        left: 50%;
        height: 1095px;
        width: 100%;
        transform: translate(-50%);
    }
    #novidades > h2 {
        font-size: 28px;
        font-weight: 600;
        color: #A7A9AC;
        position: absolute;
        left: -11%;
    }
    #cx1 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 3%;
        transition: transform 0.8s;
    }
    #cx2 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 53%;
        transition: transform 0.8s;
    }    
    #cx3 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 6%;
        transition: transform 0.8s;
        overflow-x: hidden;
        transform: translate(-7%);
    }
    #cx4 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 53%;
        transition: transform 0.8s;
        overflow-x: hidden;
    }
    #motivosCompra {
        width: 1050px;
        height: 313px;
        position: absolute;
        top: 105%;
        padding: 15px;
        left: 50%;
        transform: translate(-50%);
    }
    #linksRapidos {
        position: absolute;
        top: 140%;
        width: 420px;
        height: 108px;
        padding: 10px;
        left: 30%;
        transform: translate(-30%);
    }
    #linksRapidos > h2 {
        font-size: 28px;
        font-weight: 600;
    }
    footer {
        position: absolute;
        top: 165%;
        width: 40%;
        height: 25px;
        left: 50%;
        transform: translate(-50%);
    }
}
@media screen and (min-width:1441px) and (max-width:1635px) {
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 568px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -14%;
        top: -10px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
    #sec-header {
        width: 712px;
        height: 342px;
        position: absolute;
        left: 50%;
        top: 16%;
        transform: translate(-50%);
    }
    main {
        position: relative;
        top: 700px;
        width: 812px;
        height: 1109px;
        left: 18%;
        padding: 15px;
    }
    #sec-header > h1 {
        font-weight: lighter;
        font-size: 49px;
        color: #020202;
        line-height: 62px;
        width: 49%;
        position: absolute;
        left: -10%;
    }
    #prods-header {
        width: 849px;
        height: 184px;
        position: absolute;
        top: 46%;
        left: -17%;
    }
    #novidades {
        position: absolute;
        left: 50%;
        height: 1095px;
        width: 100%;
        transform: translate(-50%);
    }
    #novidades > h2 {
        font-size: 28px;
        font-weight: 600;
        color: #A7A9AC;
        position: absolute;
        left: -11%;
    }
    #cx1 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 3%;
        transition: transform 0.8s;
    }
    #cx2 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 53%;
        transition: transform 0.8s;
    }    
    #cx3 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 6%;
        transition: transform 0.8s;
        overflow-x: hidden;
        transform: translate(-7%);
    }
    #cx4 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 53%;
        transition: transform 0.8s;
        overflow-x: hidden;
    }
    #motivosCompra {
        width: 1050px;
        height: 313px;
        position: absolute;
        top: 105%;
        padding: 15px;
        left: 50%;
        transform: translate(-50%);
    }
    #linksRapidos {
        position: absolute;
        top: 140%;
        width: 420px;
        height: 108px;
        padding: 10px;
        left: 30%;
        transform: translate(-30%);
    }
    #linksRapidos > h2 {
        font-size: 28px;
        font-weight: 600;
    }
    footer {
        position: absolute;
        top: 165%;
        width: 40%;
        height: 25px;
        left: 50%;
        transform: translate(-50%);
    }
}
@media screen and (min-width:1635px) and (max-width:1789px) {
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 568px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -14%;
        top: -10px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
    #sec-header {
        width: 712px;
        height: 342px;
        position: absolute;
        left: 50%;
        top: 16%;
        transform: translate(-50%);
    }
    main {
        position: relative;
        top: 700px;
        width: 812px;
        height: 1109px;
        left: 18%;
        padding: 15px;
    }
    #sec-header > h1 {
        font-weight: lighter;
        font-size: 49px;
        color: #020202;
        line-height: 62px;
        width: 49%;
        position: absolute;
        left: -10%;
    }
    #prods-header {
        width: 849px;
        height: 184px;
        position: absolute;
        top: 46%;
        left: -17%;
    }
    #novidades {
        position: absolute;
        left: 50%;
        height: 1095px;
        width: 100%;
        transform: translate(-50%);
    }
    #novidades > h2 {
        font-size: 28px;
        font-weight: 600;
        color: #A7A9AC;
        position: absolute;
        left: -11%;
    }
    #cx1 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 3%;
        transition: transform 0.8s;
    }
    #cx2 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 53%;
        transition: transform 0.8s;
    }    
    #cx3 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 6%;
        transition: transform 0.8s;
        overflow-x: hidden;
        transform: translate(-7%);
    }
    #cx4 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 53%;
        transition: transform 0.8s;
        overflow-x: hidden;
    }
    #motivosCompra {
        width: 1050px;
        height: 313px;
        position: absolute;
        top: 105%;
        padding: 15px;
        left: 50%;
        transform: translate(-50%);
    }
    #linksRapidos {
        position: absolute;
        top: 140%;
        width: 420px;
        height: 108px;
        padding: 10px;
        left: 30%;
        transform: translate(-30%);
    }
    #linksRapidos > h2 {
        font-size: 28px;
        font-weight: 600;
    }
    footer {
        position: absolute;
        top: 165%;
        width: 40%;
        height: 25px;
        left: 50%;
        transform: translate(-50%);
    }
}
@media screen and (min-width:2560px) {
    #nav-bar {
        position: relative;
        left: 50%;
        top: 8px;
        width: 568px;
        transform: translate(-50%);
    }
    #logo {
        position: absolute;
        left: -14%;
        top: -10px;
    }
    #icone-pesquisa {
        width: 22px;
        height: 24px;
        position: absolute;
        left: 112%;
        transform: translate(-112%);
        top: 1px;
    }
    #sec-header {
        width: 712px;
        height: 342px;
        position: absolute;
        left: 50%;
        top: 16%;
        transform: translate(-50%);
    }
    main {
        position: relative;
        top: 700px;
        width: 812px;
        height: 1109px;
        left: 50%;
        padding: 15px;
        transform: translate(-50%);
    }
    #sec-header > h1 {
        font-weight: lighter;
        font-size: 49px;
        color: #020202;
        line-height: 62px;
        width: 49%;
        position: absolute;
        left: -10%;
    }
    #prods-header {
        width: 849px;
        height: 184px;
        position: absolute;
        top: 46%;
        left: -17%;
    }
    #novidades {
        position: absolute;
        left: 50%;
        height: 1095px;
        width: 100%;
        transform: translate(-50%);
    }
    #novidades > h2 {
        font-size: 28px;
        font-weight: 600;
        color: #A7A9AC;
        position: absolute;
        left: -11%;
    }
    #cx1 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 3%;
        transition: transform 0.8s;
    }
    #cx2 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 53%;
        transition: transform 0.8s;
    }    
    #cx3 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 6%;
        transition: transform 0.8s;
        overflow-x: hidden;
        transform: translate(-7%);
    }
    #cx4 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 53%;
        transition: transform 0.8s;
        overflow-x: hidden;
    }
    #motivosCompra {
        width: 1050px;
        height: 313px;
        position: absolute;
        top: 105%;
        padding: 15px;
        left: 50%;
        transform: translate(-50%);
    }
    #linksRapidos {
        position: absolute;
        top: 140%;
        width: 420px;
        height: 108px;
        padding: 10px;
        left: 30%;
        transform: translate(-30%);
    }
    #linksRapidos > h2 {
        font-size: 28px;
        font-weight: 600;
    }
    footer {
        position: absolute;
        top: 165%;
        width: 40%;
        height: 25px;
        left: 50%;
        transform: translate(-50%);
    }
}