:root {
    --branco:#ffff;
    --coral:#F37160;
    --flamingo:#F69896;
    --concreto:#A7A9AC;
    --preto:#000000;
    --vermelho:#EF4126;
    --font-padrao:'Open Sans';
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Inter Tight';
    background-color: #F5F5F7;
}
header {
    height: 42px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 1%;
    background-color: transparent;
    transition: 2s;
    width: 100%;
}
header.scrolled {
    position: fixed;
    top: 0%;
    transition: 2s;
    color: black;
    width: 100%;
    z-index: 1000;
    background-color: white;
    height: 40px;
}
header.scrolled > #nav-bar > li > a {
    color: #6E6E73;
}
header.scrolled > #nav-bar > li > a:hover {
    color: #020202;
}
#logo2 {
    display: none;
}
#logo {
    position: absolute;
    left: -3%;
    width: 12%;
    top: -11px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
#nav-bar {
    position: absolute;
    left: 50%;
    top: 15%;
    width: 54%;
    transform: translate(-50%);
}
#nav-bar > li {
    display: inline;
    position: relative;
    left: 10%;
    padding-right: 24px;
}
#nav-bar > li > a {
    font-weight: 500;
    font-size: 14px;
    color: #6E6E73;
}
#nav-bar > li > a:hover {
    transition: 1s;
    color: #000000;
}
#icone-pesquisa {
    width: 22px;
    height: 24px;
    position: fixed;
    left: 112%;
    transform: translate(-112%);
    top: 1px;
}
#carrinho-compras {
    width: 32px;
    height: 34px;
    position: fixed;
    left: 110%;
    transform: translate(-120%);
    top: -6px;
}
#sec-header {
    width: 849px;
    height: 342px;
    position: absolute;
    left: 50%;
    top: 16%;
    transform: translate(-50%);
}
#sec-header > h1 {
    font-weight: lighter;
    font-size: 49px;
    color: #020202;
    line-height: 62px;
}
#sec-header > h1 > strong {
    font-weight: 500;
    transition: 1s;
}
#sec-header > h1 > strong:hover {
    transition: 1s;
    color: #F37160;
}
#prods-header {
    width: 849px;
    height: 184px;
    position: absolute;
    top: 46%;
}
#prod1 {
    cursor: pointer;
    width: 179px;
    height: 129px;
    position: absolute;
    top: 30px;
    left: 2%;
}
#prod1 > img {
    width: 116px;
    height: 120px;
    position:relative;
    left: 49%;
    transform: translate(-50%);
}
#prod1 > h2 {
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    left: 6%;
    transform: translate(-6%);
}
#prod1 > h2:hover {
    text-decoration: underline;
}
#prod2 {
    cursor: pointer;
    width: 179px;
    height: 129px;
    position: absolute;
    top: 20px;
    left: 27%;
}
#prod2 > img {
    width: 116px;
    height: 130px;
    position:relative;
    left: 49%;
    transform: translate(-50%);
}
#prod2 > h2 {
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    left: 6%;
    transform: translate(-6%);
}
#prod2 > h2:hover {
    text-decoration: underline;
}
#prod3 {
    cursor: pointer;
    width: 179px;
    height: 129px;
    position: absolute;
    top: 20px;
    left: 52%;
}
#prod3 > img {
    width: 116px;
    height: 130px;
    position:relative;
    left: 49%;
    transform: translate(-50%);
}
#prod3 > h2 {
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    left: 10%;
    transform: translate(-10%);
}
#prod3 > h2:hover {
    text-decoration: underline;
}
#prod4 {
    cursor: pointer;
    width: 179px;
    height: 129px;
    position: absolute;
    top: 20px;
    left: 77%;
}
#prod4 > img {
    width: 116px;
    height: 130px;
    position:relative;
    left: 49%;
    transform: translate(-50%);
}
#prod4 > h2 {
    width: max-content;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    left: 10%;
    transform: translate(-10%);
}
#prod4 > h2:hover {
    text-decoration: underline;
}
main {
    position: relative;
    top: 700px;
    width: 1286px;
    height: 1109px;
    left: 50%;
    transform: translate(-50%);
    padding: 15px;
}
#novidades {
    position: absolute;
    left: 0%;
    height: 1095px;
    width: 100%;
}
#novidades > h2 {
    font-size: 28px;
    font-weight: 600;
    color: #A7A9AC;
    width: fit-content;
    position: relative;
    left: 10%;
    margin-bottom: 15px;
}
#novidades > h2 > strong {
    color: #EF4126;
}
.box {
    display: inline-flex;
    box-shadow: -1px -1px 8px #434344;
    border-radius: 5px;
    width: 376px;
    height: 456px;
    transition: transform 0.8s;
    margin: 25px;
    cursor: pointer;
}
.box:hover {
    box-shadow: -1px 1px 8px #ef41266c;
    transform: scale(1.1);
}
.box > img  {
    width: 100%;
    border-radius: 5px;
}
::-webkit-scrollbar {
    display: none;
}
#nextButton {
    cursor: pointer;
    width: 5%;
    height: 70px;
    border-radius: 100%;
    background-color: #78777769;
    font-size: 48px;
    border: 0;
    position: absolute;
    left: 115%;
    top: 30%;
    z-index: 1;
}
#prevButton {
    cursor: pointer;
    width: 5%;
    height: 70px;
    border-radius: 100%;
    background-color: #78777769;
    font-size: 48px;
    border: 0;
    position: absolute;
    left: -25%;
    top: 30%;
    z-index: 1;
}
#motivosCompra {
    width: 1050px;
    height: 313px;
    position: absolute;
    top: 102%;
    padding: 15px;
    left: 50%;
    transform: translate(-50%);
}
#motivosCompra > h2 {
    font-size: 28px;
    font-weight: 600;
    color: #A7A9AC;
}
#motivosCompra > h2 > strong {
    color: #EF4126;
}
#mot1 {
    width: 313px;
    height: 194px;
    box-shadow: -1px -1px 8px #434344;
    border-radius: 5px;
    position: absolute;
    top: 35%;
    transition: 1s;
}
#mot1:hover {
    transition: 1s;
    transform: scale(1.1);
}
#mot1 > img {
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 8%;
}
#mot1 > h3 {
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    top: 55%;
}
#mot1 > h3 > strong {
    color: #EF4126;
}
#mot2 {
    width: 313px;
    height: 194px;
    box-shadow: -1px -1px 8px #434344;
    border-radius: 5px;
    position: absolute;
    top: 35%;
    left: 35%;
    transition: 1s;
}
#mot2:hover {
    transition: 1s;
    transform: scale(1.1);
}
#mot2 > img {
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 8%;
}
#mot2 > h3 {
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    top: 55%;
}
#mot2 > h3 > strong {
    color: #EF4126;
}
#mot3 {
    width: 313px;
    height: 194px;
    box-shadow: -1px -1px 8px #434344;
    border-radius: 5px;
    position: absolute;
    top: 35%;
    left: 69%;
    transition: 1s;
}
#mot3:hover {
    transition: 1s;
    transform: scale(1.1);
}
#mot3 > img {
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 8%;
}
#mot3 > h3 {
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    top: 55%;
}
#mot3 > h3 > strong {
    color: #EF4126;
}
#linksRapidos {
    position: absolute;
    top: 140%;
    width: 420px;
    height: 108px;
    padding: 10px;
    left: 30%;
    transform: translate(-30%);
}
#linksRapidos > h2 {
    font-size: 28px;
    font-weight: 600;
}
#meus-pedidos {
    width: 162px;
    height: 48px;
    box-shadow: -1px -1px 8px #434344;
    border-radius: 5px;
    position: absolute;
    left: 10%;
    top: 90%;
}
#meus-pedidos > h3 {
    font-size: 14px;
    font-weight: 600;
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 30%;
    transition: 1s;
}
#meus-pedidos > h3:hover {
    transition: 1s;
    color: #F37160;
}
#minha-carteira {
    width: 162px;
    height: 48px;
    box-shadow: -1px -1px 8px #434344;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 90%;
}
#minha-carteira > h3 {
    font-size: 14px;
    font-weight: 600;
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 30%;
    transition: 1s;
}
#minha-carteira > h3:hover {
    transition: 1s;
    color: #F37160;
}
#meu-perfil {
    width: 162px;
    height: 48px;
    box-shadow: -1px -1px 8px #434344;
    border-radius: 5px;
    position: absolute;
    left: 90%;
    top: 90%;
}
#meu-perfil > h3 {
    font-size: 14px;
    font-weight: 600;
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 30%;
    transition: 1s;
}
#meu-perfil > h3:hover {
    transition: 1s;
    color: #F37160;
}
footer {
    position: absolute;
    top: 290%;
    width: 100%;
    height: 550px;
    background-color: #2B2B2B;
    border: 1px solid;
    padding: 15px;
}
footer > a {
    color: white;
    font-size: 12px;
    position: absolute;
    transition: 1s;
    position: relative;
    left: 40%;
    top: 40%;
}
footer > a:hover {
    transition: 1s;
    color: #F37160;
}
#institucional {
    width: fit-content;
    position: relative;
    left: 10%;
    top: 70px;
}
#institucional > h2 {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}
#institucional > a {
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding-left: 9px;
    transition: 0.8s;
}
#institucional > a:hover {
    transition: 0.8s;
    text-decoration: underline;
    color: #F37160;
}
#formasDePagamento {
    width: fit-content;
    position: relative;
    left: 10%;
    top: 170px;
}
#formasDePagamento > h2 {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}
#formasDePagamento > img {
    padding-left: 9px;
}
#redesSociais {
    width: fit-content;
    position: relative;
    left: 50%;
    top: -45px;
}
#redesSociais > h2 {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}
ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
    padding-left: 3px;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 15px;
    height: 15px;
}
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="facebook"] .filled,
  .example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="twitter"] .filled,
  .example-2 .icon-content a[data-social="twitter"] ~ .tooltip {
    background-color: #03A9F4;
  }
  
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }
  #siteSeguro {
    width: fit-content;
    position: relative;
    left: 10%;
    top: 190px;
  }
  #siteSeguro > h2 {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
  }
  #siteSeguro > svg {
    padding-left: 9px;
  }
  #canaisAtendimento {
    width: fit-content;
    position: relative;
    left: 50%;
    top: -26px;
  }
  #canaisAtendimento > h2 {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
  }
  #canaisAtendimento > p {
    color: white;
    font-size: 13px;
    font-weight: 500;
  }
#menu-icon {
    display: none;
}
#fechar-menu {
    display: none;
    cursor: pointer;
}
div#lg {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 31%;
    top: -7px;
    z-index: 999;
}
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    left: 25%;
    top: -10px;
}
  
  .input {
    border-style: none;
    height: 40px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: transparent;
    box-shadow: 0px 0px 3px transparent;
    padding-right: 40px;
    color: #020202;
  }
  
  .input::placeholder,
  .input {
    font-size: 17px;
  }
  
  .input::placeholder {
    color: #8f8f8f;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
  }
  
  .icon:focus ~ .input,
  .input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 2px solid #020202;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  #sugestoes {
    display: none;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    overflow-y: auto;
    width: 250px;
    border-radius: 3px;
    position: absolute;
    top: 35px;
    left: 20%;
    transition: 0.8s;
}
#sugestoes:hover {
    transition: 0.8s;  
    box-shadow: 1px 1px 4px black;  
} 
#sugestoes ul {
    list-style-type: none; /* Remova os marcadores de lista */
    padding: 0;
}

#sugestoes li {
    margin-bottom: 5px;
    cursor: pointer;
    border-bottom: 1px solid;
    height: 27px;
}

#sugestoes li:hover {
    background-color: #f0f0f0; /* Mude a cor de fundo ao passar o mouse sobre os itens */
}
.popup {
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 45%;
    width: 18vw;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
  }
  
  .icone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0%;
  }
  
  .note {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #2B2B2F;
  }
  
  .subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #5F5D6B;
  }
  
  .input_field {
    width: 100%;
    height: 42px;
    padding: 0 0 0 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 1px #2B2B2F;
    background-color: transparent;
  }
  
  .form button.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    width: 100%;
    height: 42px;
    background: linear-gradient(180deg, #F69896 -30%, #F37160 50%, #EF4126 100%);
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 5px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    cursor: pointer;
  }  
  #avisoGeral {
    display: none;
  }
  .notifications-container {
    width: 320px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    left: 90%;
    transform: translate(-90%);
    top: 60px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .error-alert {
    border-radius: 0.375rem;
    padding: 1rem;
    background-color: rgb(254 242 242);
    border: 1px solid #f37160;
  }
  
  .error-svg {
    color: #F87171;
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .error-prompt-heading {
    color: #991B1B;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
  }
  
  .error-prompt-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
  }
  
  .error-prompt-wrap {
    margin-top: 0.5rem;
    color: #B91C1C;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .error-prompt-list {
    padding-left: 1.25rem;
    margin-top: 0.25rem;
    list-style-type: disc;
  }

  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .success {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(240 253 244);
    border: 1px solid rgb(22 101 52);
  }
  
  .succes-svg {
    color: rgb(74 222 128);
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .success-prompt-wrap {
    margin-left: 0.75rem;
  }
  
  .success-prompt-heading {
    font-weight: bold;
    color: rgb(22 101 52);
  }
  
  .success-prompt-prompt {
    margin-top: 0.5rem;
    color: rgb(21 128 61);
  }
  
  .success-button-container {
    display: flex;
    margin-top: 0.875rem;
    margin-bottom: -0.375rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }