@media screen and (min-width:320px) and (max-width:863px){
    header {
        z-index: 999;
        position: absolute;
        width: 99%;
        left: 0%;
    }
    .messageHeader {
        position: relative;
        left: 1%;
        top: 20px;
        width: fit-content;
    }
    .linksHeader {
        width: fit-content;
        position: relative;
        left: 70%;
    }
    .linksHeader > ul > li {
        padding-right: 10px;
    }
    .icons-mediaHeader {
        display: none;
    }
    .logo-header {
        position: relative;
        left: 10%;
        top: 30px;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 60vw;
    }
    .notCad {
        width: fit-content;
        position: relative;
        left: 85%;
        top: -22px;
    }
    .notCad > a {
        font-weight: 300;
        font-size: 12px;
    }
    .carrinho {
        width: fit-content;
        position: relative;
        left: 80%;
        top: -7px;
    }
    .linhaAbInp {display: none;}
    .linhaAbNav {display: none;}
    .search-input {
        position: absolute;
        left: 45%;
        transform: translate(-45%);
        top: 45%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }
    div#suggestions-container {
        display: none;
        background-color: white;
        width: 70vw;
        box-shadow: -1px -1px 3px black;
        height: auto;
        z-index: 1;
        position: relative;
        top: -40px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;
        padding: 20px;
        max-height: 455px;
        overflow-y: auto;
    }
    .search-input > input {
        border: 1px solid #A8A8A8;
        background-color: transparent;
        width: 80vw;
        padding: 15px;
        border-radius: 30px;
    }
    .search-input > button {
        background-color: transparent;
        display: block;
        position: relative;
        left: 85%;
        top: -22px;
    }
    #wrapper {
        width: 70%;
        max-width: 1127px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 110px;
    }
    #prev {
        top: 85%;
        left: -50px;
        transform: translate(50%, -50%);
    }
    #next {
        top: 85%;
        right: 19px;
        transform: translate(50%, -50%);
    }
    #nav-bar {
        display: none;
        width: 80%;
        padding: 15px;
        position: absolute;
        left: 60%;
        top: 5px;
        box-shadow: -1px -3px 20px black;
        border-radius: 5px;
        height: 715px;
        opacity: 0;
        z-index: 1000;
        background-color: white;
    }
    #nav-bar > li {
        display: block;
        padding-top: 14px;
        position: relative;
        top: 65px;
    }
    #nav-bar > li > a  {
        font-size: 28px;
    }
    #fechar-menu {
        display: none;
        cursor: pointer;
        width: fit-content;
        font-size: 40px;
        position: absolute;
        left: 72%;
    }
    #menu-icon {
        display: block;
        position: absolute;
        left: 100%;
        transform: translate(-100%);
        top: -10%;
    }
    #logo {
        display: none;
    }    
    #logo2 {
        display: block;
        position: absolute;
        left: 0%;
        transform: translate(-5%);
        top: -3px;
        width: 23%;
    }
    #icone-pesquisa {
        width: 34px;
        height: 36px;
        position: absolute;
        left: 30%;
        transform: translate(-30%);
        top: 33px;
    }
    #carrinho-compras {
        width: 44px;
        height: 46px;
        position: absolute;
        left: 33%;
        transform: translate(-120%);
        top: 6%;
    }
    #banners{display: none;}
    #progress{display: none;}
    #prods-header {
        z-index: -1;
        width: 100%;
        height: 418px;
        position: absolute;
        top: 70%;
        left: 50%;
    }
    footer {
        position: absolute;
        top: 485%;
        width: 100vw;
        height: 675px;
    }
    footer > a {
        font-size: 17px;
        position: relative;
        top: 240px;
        left: 4%;
    }
    #institucional {
        width: fit-content;
        position: relative;
        left: 0%;
        top: 30px;
    }
    #redesSociais {
        width: fit-content;
        position: relative;
        left: 0%;
        top: -10px;
    }
    #formasDePagamento {
        width: fit-content;
        position: relative;
        left: 0%;
        top: 170px;
    }
    #canaisAtendimento {
        width: fit-content;
        position: relative;
        left: 4%;
        top: 55px;
    }
    #siteSeguro {
        width: fit-content;
        position: relative;
        left: 10%;
        top: 230px;
    }
    #linksRapidos {
        position: absolute;
        top: 205%;
        width: 100%;
        height: 108px;
        padding: 0px;
        left: 45%;
        transform: translate(-50%);
    }
    #linksRapidos > h2 {
        font-size: 36px;
        position: relative;
        left: 12%;
        width: 57%;
    }
    #meus-pedidos {
        position: relative;
        top: 15px;
        width: 45vw;
    }
    #meus-pedidos > h3 {
        font-size: 20px;
    }
    #minha-carteira {
        position: relative;
        top: -32px;
        left: 57%;
        width: 45vw;
    }
    #minha-carteira > h3 {
        font-size: 20px;
    }
    #meu-perfil {
        position: relative;
        top: -20px;
        left: 32%;
        width: 45vw;
    }    
    #meu-perfil > h3 {
        font-size: 20px;
    }
    #mot1 {
        width: 250px;
        height: 194px;
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        transition: 1s;
        left: 13%;
    }
    #mot2 {
        width: 250px;
        height: 194px;
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        position: absolute;
        top: 117%;
        left: 13%;
        transition: 1s;
    }
    #mot3 {
        width: 250px;
        height: 194px;
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        position: absolute;
        top: 184%;
        left: 13%;
        transition: 1s;
    }
    #motivosCompra {
        width: 100%;
        height: 315px;
        position: absolute;
        top: 145%;
        padding: 15px;
        left: 50%;
        transform: translate(-50%);
    }
    #motivosCompra > h2 {
        font-size: 27px;
        font-weight: 600;
        color: #A7A9AC;
        width: 100%;
    }
    #novidades > h2 {
        font-size: 28px;
        font-weight: 600;
        color: #A7A9AC;
        width: fit-content;
        position: absolute;
        left: 3%;
        width: 80%;
    }
    #prevButton {
        cursor: pointer;
        width: 5%;
        height: 70px;
        border-radius: 100%;
        background-color: #78777769;
        font-size: 48px;
        border: 0;
        position: absolute;
        left: -3%;
        top: 30%;
        z-index: 1;
    }
    #nextButton {
        cursor: pointer;
        width: 5%;
        height: 70px;
        border-radius: 100%;
        background-color: #78777769;
        font-size: 48px;
        border: 0;
        position: absolute;
        left: 50%;
        top: 30%;
        z-index: 1;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    #novidades-container {
        overflow-x: hidden;
        white-space: nowrap;
    }
    #sec-header {
        width: 94vw;
        height: 342px;
        position: absolute;
        left: 50%;
        top: 16%;
        transform: translate(-50%);
    }
    #prod1 {
        cursor: pointer;
        width: 179px;
        height: 129px;
        position: absolute;
        top: 30px;
        left: 4%;
    }
    #prod3 {
        cursor: pointer;
        width: 179px;
        height: 129px;
        position: absolute;
        top: 50%;
        left: 5%;
    }
    #prod4 {
        cursor: pointer;
        width: 179px;
        height: 129px;
        position: absolute;
        top: 50%;
        left: 60%;
    }
    #sec-header > h1 {
        font-weight: lighter;
        font-size: 43px;
        color: #020202;
        line-height: 62px;
    }
    #prod1 > h2 {
        font-weight: 600;
        font-size: 12px;
        position: absolute;
        left: 17%;
        transform: translate(-6%);
    }
    #prod2 > h2 {
        font-weight: 600;
        font-size: 12px;
        position: absolute;
        left: 17%;
        transform: translate(-6%);
    }
    #prod2 {
        cursor: pointer;
        width: 179px;
        height: 129px;
        position: absolute;
        top: 20px;
        left: 60%;
    }
    #prod3 > h2 {
        font-weight: 600;
        font-size: 12px;
        position: absolute;
        left: 20%;
        transform: translate(-10%);
    }
    #prod4 > h2 {
        width: max-content;
        font-weight: 600;
        font-size: 12px;
        position: absolute;
        left: 10%;
        transform: translate(-10%);
    }
    #cx1 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 80vw;
        height: 456px;
        position: absolute;
        top: 12%;
        transition: transform 0.8s;
        left: 20%;
        transform: translate(-20%);
    }
    #cx2 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 80vw;
        height: 456px;
        position: absolute;
        top: 58%;
        transition: transform 0.8s;
        left: 20%;
        transform: translate(-20%);
    }
    #cx3 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 80vw;
        height: 456px;
        position: absolute;
        top: 104%;
        transition: transform 0.8s;
        overflow-x: hidden;
        left: 20%;
        transform: translate(-20%);
    }
    #cx4 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 80vw;
        height: 456px;
        position: absolute;
        top: 150%;
        transition: transform 0.8s;
        overflow-x: hidden;
        left: 20%;
        transform: translate(-20%);
    }
    main {
        position: absolute;
        top: 700px;
        width: 100%;
        height: 1550px;
        left: 50%;
        transform: translate(-50%);
        padding: 15px;
    }
    .input-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        position: absolute;
        left: 25%;
        top: -4px;
    }
    .input {
        border-style: none;
        height: 40px;
        width: 40px;
        padding: 10px;
        outline: none;
        border-radius: 50%;
        transition: .5s ease-in-out;
        background-color: transparent;
        box-shadow: 0px 0px 3px transparent;
        padding-right: 40px;
        color: #020202;
      }
      .icon:focus ~ .input,
      .input:focus {
        box-shadow: none;
        width: 150px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 2px solid #020202;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
      #sugestoes {
        background-color: white;
      }
      #novidades {
        position: relative;
        left: -25px;
        width: 100%;
      }
      #cx5 {
        display: none;
      }
      #cx6 {
        display: none;
      }
      .carousel-item > a > h2 {
        width: 0%;
        position: relative;
        left: 35%;
    }
}
@media screen and (min-width:1024px) and (max-width:1300px) {  
    .logo-header {
        position: absolute;
        left: 17%;
        transform: translate(-17%);
        top: 14%;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 56%;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-55%);
        top: 16%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }
    .notCad {
        width: fit-content;
        position: absolute;
        left: 80%;
        transform: translate(-80%);
        top: 16%;
    }
    .carrinho {
        width: fit-content;
        position: absolute;
        left: 90%;
        transform: translate(-90%);
        top: 16%;
    }
    #nav-bar {
        position: absolute;
        left: 50%;
        top: 25%;
        width: 700px;
        transform: translate(-50%);
    }
    #wrapper {
        width: 100%;
        max-width: 900px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 400px;
    }
    #prev {
        top: 65%;
        left: -100px;
        transform: translate(50%, -50%);
    }
    #next {
        top: 65%;
        right: -100px;
        transform: translate(-50%, -50%);
    }
    div#banners {
        height: 270px;
        position: relative;
        top: 235px;
        width: 846px;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%);
    }
    .banner.active > img {
        width: 100%;
    }
    #banners > #prevBtn1 {
        left: -56px;
    }
    #banners > #nextBtn1 {
        right: -56px;
    }
    #progress {
        display: flex;
        justify-content: center;
    }
    #sec-header {
        width: 712px;
        height: 342px;
        position: absolute;
        left: 50%;
        top: 16%;
        transform: translate(-50%);
    }
    main {
        position: absolute;
        top: 1125px;
        width: 812px;
        height: 1109px;
        left: 50%;
        padding: 15px;
        transform: translate(-50%);
    }
    #sec-header > h1 {
        font-weight: lighter;
        font-size: 49px;
        color: #020202;
        line-height: 62px;
        width: 49%;
        position: absolute;
        left: -10%;
    }
    #prods-header {
        width: 849px;
        height: 184px;
        position: absolute;
        top: 192%;
        left: 50%;
        transform: translate(-50%);
    }
    #novidades {
        position: absolute;
        left: 50%;
        height: 1095px;
        width: 100%;
        transform: translate(-50%);
    }
    #novidades > h2 {
        font-size: 28px;
        font-weight: 600;
        color: #A7A9AC;
        position: absolute;
        left: -11%;
    }
    #cx5 {
        display: none;
    }
    #cx6 {
        display: none;
    }
    #cx1 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 3%;
        transition: transform 0.8s;
    }
    #cx2 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 53%;
        transition: transform 0.8s;
    }    
    #cx3 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 6%;
        transition: transform 0.8s;
        overflow-x: hidden;
        transform: translate(-7%);
    }
    #cx4 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 53%;
        transition: transform 0.8s;
        overflow-x: hidden;
    }
    #motivosCompra {
        width: 985px;
        height: 313px;
        position: absolute;
        top: 105%;
        padding: 15px;
        left: 50%;
        transform: translate(-50%);
    }
    #motivosCompra > h2 {
        font-size: 33px;
        font-weight: 300;
        color: #A7A9AC;
        width: 95%;
    }
    #linksRapidos {
        position: absolute;
        top: 140%;
        width: 420px;
        height: 108px;
        padding: 10px;
        left: 30%;
        transform: translate(-30%);
    }
    #linksRapidos > h2 {
        font-size: 28px;
        font-weight: 600;
    }
    footer {
        position: absolute;
        top: 365%;
        width: 100vw;
        height: 512px;
    }
    footer > a {
        color: white;
        font-size: 12px;
        position: absolute;
        transition: 1s;
        position: relative;
        left: 40%;
        top: 35%;
    }
    #institucional {
        width: 30%;
        position: relative;
        left: 10%;
        top: 70px;
    }
}
@media screen and (min-width:1301px) and (max-width:1440px) {
    .logo-header {
        position: absolute;
        left: 17%;
        transform: translate(-17%);
        top: 14%;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 56%;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-55%);
        top: 16%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }
    .notCad {
        width: fit-content;
        position: absolute;
        left: 80%;
        transform: translate(-80%);
        top: 16%;
    }
    .carrinho {
        width: fit-content;
        position: absolute;
        left: 90%;
        transform: translate(-90%);
        top: 16%;
    }
    #nav-bar {
        position: absolute;
        left: 50%;
        top: 25%;
        width: 700px;
        transform: translate(-50%);
    }
    #wrapper {
        width: 100%;
        max-width: 900px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 400px;
    }
    #prev {
        top: 65%;
        left: -100px;
        transform: translate(50%, -50%);
    }
    #next {
        top: 65%;
        right: -100px;
        transform: translate(-50%, -50%);
    }
    div#banners {
        height: 270px;
        position: relative;
        top: 235px;
        width: 846px;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%);
    }
    .banner.active > img {
        width: 100%;
    }
    #banners > #prevBtn1 {
        left: -56px;
    }
    #banners > #nextBtn1 {
        right: -56px;
    }
    #progress {
        display: flex;
        justify-content: center;
    }
    #sec-header {
        width: 712px;
        height: 342px;
        position: absolute;
        left: 50%;
        top: 16%;
        transform: translate(-50%);
    }
    main {
        position: absolute;
        top: 1125px;
        width: 812px;
        height: 1109px;
        left: 50%;
        padding: 15px;
        transform: translate(-50%);
    }
    #sec-header > h1 {
        font-weight: lighter;
        font-size: 49px;
        color: #020202;
        line-height: 62px;
        width: 49%;
        position: absolute;
        left: -10%;
    }
    #prods-header {
        width: 849px;
        height: 184px;
        position: absolute;
        top: 192%;
        left: 50%;
        transform: translate(-50%);
    }
    #novidades {
        position: absolute;
        left: 50%;
        height: 1095px;
        width: 100%;
        transform: translate(-50%);
    }
    #novidades > h2 {
        font-size: 28px;
        font-weight: 600;
        color: #A7A9AC;
        position: absolute;
        left: -11%;
    }
    #cx5 {
        display: none;
    }
    #cx6 {
        display: none;
    }
    #cx1 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 3%;
        transition: transform 0.8s;
    }
    #cx2 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 53%;
        transition: transform 0.8s;
    }    
    #cx3 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 6%;
        transition: transform 0.8s;
        overflow-x: hidden;
        transform: translate(-7%);
    }
    #cx4 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 53%;
        transition: transform 0.8s;
        overflow-x: hidden;
    }
    #motivosCompra {
        width: 985px;
        height: 313px;
        position: absolute;
        top: 105%;
        padding: 15px;
        left: 50%;
        transform: translate(-50%);
    }
    #motivosCompra > h2 {
        font-size: 33px;
        font-weight: 300;
        color: #A7A9AC;
        width: 95%;
    }
    #linksRapidos {
        position: absolute;
        top: 140%;
        width: 420px;
        height: 108px;
        padding: 10px;
        left: 30%;
        transform: translate(-30%);
    }
    #linksRapidos > h2 {
        font-size: 28px;
        font-weight: 600;
    }
    footer {
        position: absolute;
        top: 365%;
        width: 100vw;
        height: 512px;
    }
    footer > a {
        color: white;
        font-size: 12px;
        position: absolute;
        transition: 1s;
        position: relative;
        left: 40%;
        top: 35%;
    }
    #institucional {
        width: 30%;
        position: relative;
        left: 10%;
        top: 70px;
    }
}
@media screen and (min-width:1441px) and (max-width:1635px) {
    .logo-header {
        position: absolute;
        left: 17%;
        transform: translate(-17%);
        top: 14%;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 56%;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-55%);
        top: 16%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }
    .notCad {
        width: fit-content;
        position: absolute;
        left: 80%;
        transform: translate(-80%);
        top: 16%;
    }
    .carrinho {
        width: fit-content;
        position: absolute;
        left: 90%;
        transform: translate(-90%);
        top: 16%;
    }
    #nav-bar {
        position: absolute;
        left: 50%;
        top: 25%;
        width: 700px;
        transform: translate(-50%);
    }
    #wrapper {
        width: 100%;
        max-width: 900px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 400px;
    }
    #prev {
        top: 65%;
        left: -100px;
        transform: translate(50%, -50%);
    }
    #next {
        top: 65%;
        right: -100px;
        transform: translate(-50%, -50%);
    }
    div#banners {
        height: 270px;
        position: relative;
        top: 235px;
        width: 846px;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%);
    }
    .banner.active > img {
        width: 100%;
    }
    #banners > #prevBtn1 {
        left: -56px;
    }
    #banners > #nextBtn1 {
        right: -56px;
    }
    #progress {
        display: flex;
        justify-content: center;
    }
    #sec-header {
        width: 712px;
        height: 342px;
        position: absolute;
        left: 50%;
        top: 16%;
        transform: translate(-50%);
    }
    main {
        position: absolute;
        top: 1125px;
        width: 812px;
        height: 1109px;
        left: 50%;
        padding: 15px;
        transform: translate(-50%);
    }
    #sec-header > h1 {
        font-weight: lighter;
        font-size: 49px;
        color: #020202;
        line-height: 62px;
        width: 49%;
        position: absolute;
        left: -10%;
    }
    #prods-header {
        width: 849px;
        height: 184px;
        position: absolute;
        top: 192%;
        left: 50%;
        transform: translate(-50%);
    }
    #novidades {
        position: absolute;
        left: 50%;
        height: 1095px;
        width: 100%;
        transform: translate(-50%);
    }
    #novidades > h2 {
        font-size: 28px;
        font-weight: 600;
        color: #A7A9AC;
        position: absolute;
        left: -11%;
    }
    #cx5 {
        display: none;
    }
    #cx6 {
        display: none;
    }
    #cx1 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 3%;
        transition: transform 0.8s;
    }
    #cx2 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 53%;
        transition: transform 0.8s;
    }    
    #cx3 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 6%;
        transition: transform 0.8s;
        overflow-x: hidden;
        transform: translate(-7%);
    }
    #cx4 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 53%;
        transition: transform 0.8s;
        overflow-x: hidden;
    }
    #motivosCompra {
        width: 985px;
        height: 313px;
        position: absolute;
        top: 105%;
        padding: 15px;
        left: 50%;
        transform: translate(-50%);
    }
    #motivosCompra > h2 {
        font-size: 33px;
        font-weight: 300;
        color: #A7A9AC;
        width: 95%;
    }
    #linksRapidos {
        position: absolute;
        top: 140%;
        width: 420px;
        height: 108px;
        padding: 10px;
        left: 30%;
        transform: translate(-30%);
    }
    #linksRapidos > h2 {
        font-size: 28px;
        font-weight: 600;
    }
    footer {
        position: absolute;
        top: 365%;
        width: 100vw;
        height: 512px;
    }
    footer > a {
        color: white;
        font-size: 12px;
        position: absolute;
        transition: 1s;
        position: relative;
        left: 40%;
        top: 35%;
    }
    #institucional {
        width: 30%;
        position: relative;
        left: 10%;
        top: 70px;
    }
}
@media screen and (min-width:1635px) and (max-width:1789px) {
    .logo-header {
        position: absolute;
        left: 17%;
        transform: translate(-17%);
        top: 14%;
        width: fit-content;
    }
    .logo-header > a > img {
        cursor: pointer;
        width: 56%;
    }
    .search-input {
        position: absolute;
        left: 50%;
        transform: translate(-55%);
        top: 16%;
        width: fit-content;
        height: auto;
        z-index: 1;
    }
    .notCad {
        width: fit-content;
        position: absolute;
        left: 80%;
        transform: translate(-80%);
        top: 16%;
    }
    .carrinho {
        width: fit-content;
        position: absolute;
        left: 90%;
        transform: translate(-90%);
        top: 16%;
    }
    #nav-bar {
        position: absolute;
        left: 50%;
        top: 26%;
        width: 70%;
        transform: translate(-50%);
    }
    #wrapper {
        width: 100%;
        max-width: 900px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 400px;
    }
    #prev {
        top: 65%;
        left: -100px;
        transform: translate(50%, -50%);
    }
    #next {
        top: 65%;
        right: -100px;
        transform: translate(-50%, -50%);
    }
    div#banners {
        height: 270px;
        position: relative;
        top: 235px;
        width: 846px;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%);
    }
    .banner.active > img {
        width: 100%;
    }
    #banners > #prevBtn1 {
        left: -56px;
    }
    #banners > #nextBtn1 {
        right: -56px;
    }
    #progress {
        display: flex;
        justify-content: center;
    }
    #sec-header {
        width: 712px;
        height: 342px;
        position: absolute;
        left: 50%;
        top: 16%;
        transform: translate(-50%);
    }
    main {
        position: absolute;
        top: 1125px;
        width: 812px;
        height: 1109px;
        left: 50%;
        padding: 15px;
        transform: translate(-50%);
    }
    #sec-header > h1 {
        font-weight: lighter;
        font-size: 49px;
        color: #020202;
        line-height: 62px;
        width: 49%;
        position: absolute;
        left: -10%;
    }
    #prods-header {
        width: 849px;
        height: 184px;
        position: absolute;
        top: 192%;
        left: 50%;
        transform: translate(-50%);
    }
    #novidades {
        position: absolute;
        left: 50%;
        height: 1095px;
        width: 100%;
        transform: translate(-50%);
    }
    #novidades > h2 {
        font-size: 28px;
        font-weight: 600;
        color: #A7A9AC;
        position: absolute;
        left: -11%;
    }
    #cx5{display: none;}
    #cx6{display: none;}
    #cx1 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 3%;
        transition: transform 0.8s;
    }
    #cx2 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 12%;
        left: 53%;
        transition: transform 0.8s;
    }    
    #cx3 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 6%;
        transition: transform 0.8s;
        overflow-x: hidden;
        transform: translate(-7%);
    }
    #cx4 {
        box-shadow: -1px -1px 8px #434344;
        border-radius: 5px;
        width: 360px;
        height: 456px;
        position: absolute;
        top: 57%;
        left: 53%;
        transition: transform 0.8s;
        overflow-x: hidden;
    }
    #motivosCompra {
        width: 985px;
        height: 313px;
        position: absolute;
        top: 105%;
        padding: 15px;
        left: 50%;
        transform: translate(-50%);
    }
    #motivosCompra > h2 {
        font-size: 33px;
        font-weight: 300;
        color: #A7A9AC;
        width: 95%;
    }
    #linksRapidos {
        position: absolute;
        top: 140%;
        width: 420px;
        height: 108px;
        padding: 10px;
        left: 30%;
        transform: translate(-30%);
    }
    #linksRapidos > h2 {
        font-size: 28px;
        font-weight: 600;
    }
    footer {
        position: absolute;
        top: 365%;
        width: 100vw;
        height: 512px;
    }
    footer > a {
        color: white;
        font-size: 12px;
        position: absolute;
        transition: 1s;
        position: relative;
        left: 40%;
        top: 35%;
    }
    #institucional {
        width: 30%;
        position: relative;
        left: 10%;
        top: 70px;
    }
}
@media screen and (min-width:2560px) {
    #nav-bar {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 26%;
        width: 54%;
    }
    div#banners {
        height: 370px;
        position: absolute;
        top: 35%;
        width: 1200px;
        left: 50%;
        transform: translate(-50%);
        cursor: pointer;
    }
    #wrapper {
        width: 100%;
        max-width: 1127px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 90%;
    }
    #prev {
        top: 65%;
        left: -150px;
        transform: translate(50%, -50%);
    }
    #next {
        top: 65%;
        right: -150px;
        transform: translate(-50%, -50%);
    }
    .search-input {
        position: absolute;
        left: 45%;
        transform: translate(-45%);
        top: 16%;
        width: fit-content;
        height: auto;
    }
    .notCad {
        width: fit-content;
        position: absolute;
        left: 75%;
        transform: translate(-75%);
        top: 16%;
    }
    main {
        position: absolute;
        top: 125%;
        width: 1286px;
        height: 1109px;
        left: 50%;
        transform: translate(-50%);
        padding: 15px;
    }
}