:root {
    --branco:#ffff;
    --coral:#F37160;
    --flamingo:#F69896;
    --concreto:#A7A9AC;
    --preto:#000000;
    --vermelho:#EF4126;
    --font-padrao:'Open Sans';
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Inter Tight';
    background-color: #F5F5F7;
}
#logo {
    width: 135px;
    height: 46px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
header > h1 {
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    left: 15%;
    top: 80px;
}
#linhaHr {
    border: 1px solid black;
    width: 90vw;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%);
}
header > h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    position: absolute;
    top: 150px;
    left: 20%;
    transform: translate(-20%);
}
.container {
    display: flex;
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%);
}
.cxs {
    width: 250px;
    height: 130px;
    box-shadow: -1px 3px 5px black;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 25px;
    transition: 0.8s;
    cursor: pointer;
}
.cxs:hover {
    transition: 0.8s;
    box-shadow: -1px 3px 5px #F69896;
}
.cxs > h2 {
    font-size: 20px;
    font-weight: 500;
    width: max-content;
}
.cxs > p {
    color: #6E6E73;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 10px;
}
div#lista-produtos {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 140%;
    width: 90%;
}
.produto > img {
    position: relative;
    width: 96px;
    height: 120px; 
}
.produto {
    background-color: white;
    margin: 17px;
    border-radius: 6px;
    box-shadow: 1px 1px 3px black;
    padding: 15px;
    transition: 0.8s;
}
.produto:hover {
    transition: 0.8s;
    box-shadow: 1px  1px 3px #EF4126;
}
.produto > h3 {
    width: fit-content;
    position: relative;
    top: -74px;
    left: 20%;
}
.spinnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 83%;
    transform: translate(-83%);
    top: 10px;
}
  
  .spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #EF4126;
    animation: tri-spinner 1s infinite linear;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: tri-spinner 2s infinite;
  }
  
  .spinner::after {
    margin: 8px;
    animation-duration: 3s;
  }
  
  @keyframes tri-spinner {
    100% {
      transform: rotate(1turn);
    }
  }
  
  .loader {
    color: #4a4a4a;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
  }
  
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #F37160;
    animation: cycle-words 5s infinite;
  }
  
  @keyframes cycle-words {
    10% {
      -webkit-transform: translateY(-105%);
      transform: translateY(-105%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-205%);
      transform: translateY(-205%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-305%);
      transform: translateY(-305%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-405%);
      transform: translateY(-405%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }
  div#carregamento {
    display: none;
    transition: 0.8s;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 440px;
    box-shadow: -2px 2px 12px black;
    border-radius: 5px;
    width: 475px;
    height: 140px;
    background-color: white;
}
.produto > a {
    position: relative;
    left: 20%;
    top: -15px;
    color: #F37160;
}