@media screen and (min-width: 320px) and (max-width: 767px) {
    .logo img {
        height: 10%;
        width: 100%;
    }

    section#sobre {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        background-color: white;
        border-radius: 12px;
        box-shadow: 1px 1px 2px 0px black;
    }

    footer {
        height: 100vh;
        padding: 15px;
    }

    footer.modern-footer {
        background: linear-gradient(135deg, #222, #444);
        color: #fff;
        padding: 50px 20px;
        height: 100%;
    }
    
    .contentFooter {
        background-color: #2B2B2B;
        position: relative;
        top: 1100px;
        left: 49%;
        transform: translate(-50%);
        width: 101vw;
    }
}