:root {
  --branco:#ffff;
  --coral:#F37160;
  --flamingo:#F69896;
  --concreto:#A7A9AC;
  --preto:#000000;
  --vermelho:#EF4126;
  --font-padrao:'Open Sans';
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Inter Tight';
  background-color: #F5F5F7;
}
header {
  height: 42px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: 1%;
  background-color: transparent;
  transition: 2s;
  width: 100%;
}
header.scrolled {
  position: fixed;
  top: 0%;
  transition: 2s;
  color: black;
  width: 100%;
  z-index: 1000;
  background-color: white;
  height: 40px;
}
header.scrolled > #nav-bar > li > a {
  color: #6E6E73;
}
header.scrolled > #nav-bar > li > a:hover {
  color: #020202;
}
#logo2 {
  display: none;
}
#logo {
  position: absolute;
  left: -14%;
  width: 22%;
  top: -10px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
#nav-bar {
  position: absolute;
  left: 50%;
  top: 15%;
  width: 568px;
  transform: translate(-50%);
}
#nav-bar > li {
  display: inline;
  position: relative;
  left: 10%;
  padding-right: 24px;
}
#nav-bar > li > a {
  font-weight: 500;
  font-size: 14px;
  color: #6E6E73;
}
#nav-bar > li > a:hover {
  transition: 1s;
  color: #000000;
}
#icone-pesquisa {
  width: 22px;
  height: 24px;
  position: fixed;
  left: 112%;
  transform: translate(-112%);
  top: 1px;
}
#carrinho-compras {
  width: 32px;
  height: 34px;
  position: fixed;
  left: 110%;
  transform: translate(-120%);
  top: -6px;
}
#menu-icon {
    display: none;
}
#fechar-menu {
    display: none;
    cursor: pointer;
}
main > h1 {
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    left: 15%;
    top: 80px;
}
#linhaHr {
    border: 1px solid black;
    width: 90vw;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%);
}
main > h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    position: absolute;
    top: 150px;
    left: 20%;
    transform: translate(-20%);
}
#btnEnvArt {
    position: fixed;
    left: 80%;
    top: 90%;
    width: 285px;
    height: 51px;
    border: 1px solid #EF4126;
    background-color: white;
    font-size: 17px;
    font-weight: 600;
    color: #EF4126;
    transition: 0.8s;
    border-radius: 5px;
    cursor: pointer;
}
#btnEnvArt:hover {
    transition: 0.8s;
    background-color: #EF4126;
    color: white;
}
img#imgProd {
    position: relative;
    top: 340px;
    left: 15%;
    transform: translate(-15%);
    width: 380px;
}
div#inputsArt {
    display: flex;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 50px;
}
label {
    cursor: pointer;
}
input[type="checkbox"]:active {
    background-color: #EF4126;
}
div#inputUpload {
    margin-left: 80px;
    padding: 20px;
    border-radius: 5px;
}
div#Depois {
    padding: 20px;
    border-radius: 5px;
}
.produto-carrinho label {
    transition: color 0.8s, background-color 0.8s; /* Adiciona a transição de entrada e saída */
}
.spinnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 83%;
    transform: translate(-83%);
    top: 10px;
}
  
  .spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #EF4126;
    animation: tri-spinner 1s infinite linear;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: tri-spinner 2s infinite;
  }
  
  .spinner::after {
    margin: 8px;
    animation-duration: 3s;
  }
  
  @keyframes tri-spinner {
    100% {
      transform: rotate(1turn);
    }
  }
  
  .loader {
    color: #4a4a4a;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
  }
  
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #F37160;
    animation: cycle-words 5s infinite;
  }
  
  @keyframes cycle-words {
    10% {
      -webkit-transform: translateY(-105%);
      transform: translateY(-105%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-205%);
      transform: translateY(-205%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-305%);
      transform: translateY(-305%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-405%);
      transform: translateY(-405%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }
  div#carregamento {
    display: none;
    transition: 0.8s;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 440px;
    box-shadow: -2px 2px 12px black;
    border-radius: 5px;
    width: 475px;
    height: 140px;
    background-color: white;
}
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: absolute;
  left: 25%;
  top: -10px;
}

.input {
  border-style: none;
  height: 40px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: .5s ease-in-out;
  background-color: transparent;
  box-shadow: 0px 0px 3px transparent;
  padding-right: 40px;
  color: #020202;
}

.input::placeholder,
.input {
  font-size: 17px;
}

.input::placeholder {
  color: #8f8f8f;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: .2s linear;
}

.icon:focus ~ .input,
.input:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 2px solid #020202;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
#sugestoes {
  display: none;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  height: auto;
  overflow-y: auto;
  width: 250px;
  border-radius: 3px;
  position: absolute;
  top: 35px;
  left: 20%;
  transition: 0.8s;
  background-color: white;
  z-index: 1000; /* Valor alto para garantir sobreposição */
}
#sugestoes:hover {
  transition: 0.8s;  
  box-shadow: 1px 1px 4px black;  
} 
#sugestoes ul {
  list-style-type: none; /* Remova os marcadores de lista */
  padding: 0;
}

#sugestoes li {
  margin-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid;
  height: 27px;
}

#sugestoes li:hover {
  background-color: #f0f0f0; /* Mude a cor de fundo ao passar o mouse sobre os itens */
}
